@import '../../../assets/styles/index.scss';
a {
  text-decoration: none;
}
.card {
  border: 1px solid #ddd;
  border-radius: rem(8);
  overflow: hidden;
  width: rem(370);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  background-color: #fff;
  cursor: pointer;
  &:focus,
  &:hover {
    outline: 3px solid $darkColor;
    outline-offset: 4px;
  }
}
.title {
  color: $secondaryColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-img {
  width: 100%;
  height: rem(200);
  object-fit: cover;
}

.card-body {
  padding: rem(12);
}

.card-title {
  font-size: rem(16);
  margin: 0;
  color: #333;
}
