<div class="card" tabindex="0" (keydown)="handleKeydown($event)">
  <a [routerLink]="route" class="card-content" tabindex="-1">
    <div class="image-wrapper">
      <img class="card-img" [src]="imageUrl" alt="{{ title }}" />
    </div>
    <div class="card-body">
      <div class="title">
        <h2 class="card-title">{{ title }}</h2>

        <svg
          aria-hidden="true"
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="1"
            y="1"
            width="38"
            height="38"
            rx="19"
            stroke="#0E9980"
            stroke-width="2"
          />
          <path
            d="M12.5 20H27.5"
            stroke="#0E9980"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M20 12L29 20L20 28"
            stroke="#0E9980"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </a>
</div>
