<div class="wrapper">
  <div class="wrapper-head">
    <div class="wrapper-title">
      <h3>{{ title }}</h3>
    </div>
    <div class="wrapper-buttons">
      <button (click)="selectTab('preview')">
        <img src="assets/images/Preview.png" alt="" />
      </button>
      <button (click)="selectTab('code')">
        <img src="assets/images/Codeicon-code.png" alt="" />
      </button>
      <button (click)="selectTab('doc')">
        <img src="assets/images/PDF.png" alt="" />
      </button>
    </div>
  </div>

  <div class="wrapper-content">
    <div *ngIf="activeTab === 'preview'">
      <ng-content select="[preview]"></ng-content>
    </div>
    <div *ngIf="activeTab === 'code'">
      <ng-content select="[code]"></ng-content>
    </div>
    <div *ngIf="activeTab === 'doc'">
      <ng-content select="[doc]"></ng-content>
    </div>
  </div>
</div>
