<div class="modal-content">
  <app-breadcrumb
    [title]="'Danger Alert'"
    [breadcrumbItems]="[
      { label: 'Alert', link: '/alert' },
      { label: 'Danger Alert' },
    ]"
  >
  </app-breadcrumb>
  <div class="wrapper">
    <div class="wrapper-head">
      <app-view-switcher
        [currentView]="currentView"
        [title]="switcherTitle"
        (viewChange)="switchView($event)"
      >
      </app-view-switcher>
    </div>
    <div
      class="content"
      [ngClass]="{ 'code-background': currentView === 'code' }"
    >
      @if (currentView === 'preview') {
        <div class="alert-wrapper">
          <ip-alert
            type="danger"
            alert-title="Danger"
            message="A critical error occurred while processing your request. Please contact technical support."
          >
          </ip-alert>
        </div>
      }
      @if (currentView === 'code') {
        <app-code-snippet [htmlCode]="dangerAlertCode"></app-code-snippet>
      }
      @if (currentView === 'doc') {
        <app-doc-alert></app-doc-alert>
      }
    </div>
  </div>
</div>
