<section id="documentation">
  <h2 class="under-title">Installation</h2>
  <p>
    Follow these steps to install and use the <code>ip-modal</code> component in
    your project.
  </p>
  <h3>Step 1</h3>
  <p>
    Install the <code>ip-modal</code> component as a dependency in your project:
  </p>
  <pre><code>npm install ip-modal</code></pre>
  <h3>Step 2</h3>
  <p>Import the module into your script file:</p>
  <pre><code>import '../node_modules/ip-modal/dist/ip-modal/ip-modal.esm';</code></pre>
  <h2 class="under-title">Usage</h2>

  <p>
    To use the <code>ip-show-more</code> component, use this tag
    <code>&lt;ip-show-more&gt;&lt;/ip-show-more&gt;</code> and use a slot for
    the content.
  </p>

  <h3>Properties</h3>
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Attribute</th>
        <th>Necessity</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>showLessText</td>
        <td>show-less-text</td>
        <td>Optional</td>
        <td>The text for "Show Less"</td>
        <td>string</td>
        <td>'Show Less'</td>
      </tr>
      <tr>
        <td>showMoreText</td>
        <td>show-more-text</td>
        <td>Optional</td>
        <td>The text for "Show More"</td>
        <td>string</td>
        <td>'Show More'</td>
      </tr>
    </tbody>
  </table>

  <h3>Slot</h3>
  <p>
    The component uses a slot named <code>content</code> for the expanded
    content.
  </p>
  <p><em>e.g:</em></p>
  <pre class="example">
        &lt;ip-show-more show-more-text="Read More" show-less-text="Read Less"&gt;
          &lt;div slot="content"&gt;
            This is the expanded content that will be shown or hidden when the button is clicked.
          &lt;/div&gt;
        &lt;/ip-show-more&gt;
  </pre>
  <h2 class="under-title">Customization</h2>

  <p>
    We have a set of predefined variables used to customize the
    <code>show-more</code> button:
  </p>
  <ul>
    <li><code>--ip-primary-color</code></li>
    <li><code>--ip-secondary-color</code></li>
    <li><code>--ip-font-size</code></li>
    <li><code>--ip-font-color</code></li>
    <li><code>--ip-font-family</code></li>
    <li><code>--ip-svg-color</code></li>
  </ul>

  <p><em>e.g:</em></p>
  <p>To update the values, use the following CSS code:</p>
  <pre class="example">
        ip-show-more &#123;
          --ip-primary-color: #006342;
          --ip-secondary-color: #000000;
          --ip-font-size: 16px;
          --ip-font-color: #333;
          --ip-font-family: Arial, sans-serif;
          --ip-svg-color: #fff;
          &#125;
 </pre
  >
</section>
