<section id="documentation">
  <h3 class="under-title">Installation</h3>

  <h4>Step 1:</h4>

  <p>Install the ip-radio component as a dependency in the project:</p>

  <pre><code>npm install ip-radio
</code></pre>

  <h4>Step 2:</h4>

  <p>Import module in script file:</p>

  <pre><code [highlight]="import" language="typescript">
</code></pre>

  <h3 class="under-title">Usage:</h3>

  <p>To use this component, we must add the properties as attributes.</p>

  <h4>Properties</h4>

  <table>
    <thead>
      <tr>
        <th scope="col">Property</th>
        <th scope="col">Attribute</th>
        <th scope="col">Necessity</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>options</code></td>
        <td><code>options</code></td>
        <td>Required</td>
        <td>This is a stringifird JSON array of radio options</td>
        <td><code>string</code></td>
        <td><code>undefined</code></td>
      </tr>
      <tr>
        <td><code>labelPosition</code></td>
        <td><code>label-position</code></td>
        <td>Optional</td>
        <td>
          To determine where the label of the radio button will be positioned.
        </td>
        <td><code>"after" | "before"</code></td>
        <td><code>"after"</code></td>
      </tr>
      <tr>
        <td><code>defaultOptionId</code></td>
        <td><code>default-option-id</code></td>
        <td>Optional</td>
        <td>If we need to set an option checked as default</td>
        <td><code>string | number</code></td>
        <td><code>undefined</code></td>
      </tr>
    </tbody>
  </table>

  <h5>Options</h5>

  <p>
    This is a stringified JSON arary of option. Each option is an object with an
    <code>id</code>, a <code>label</code>, and an optional
    <code>disabled</code> property.
  </p>

  <ul>
    <li><strong>id</strong>: this is the id of the input</li>
    <li><strong>label</strong>: this is the label for radio option</li>
    <li>
      <strong>disabled</strong>: when we need to set the option to disable, this
      is boolean and as default it's false
    </li>
  </ul>

  <p>Example:</p>

  <pre><code [highlight]="example" language="html">
</code></pre>

  <h3 class="under-title">Customization</h3>

  <p>The elements are encapsulated in a fieldset.</p>

  <p>
    We have a set of predefined variable used to customisation the checkbox:
  </p>

  <ul>
    <li><strong>--primary-color</strong></li>
    <li><strong>--secondary-color</strong></li>
    <li><strong>--radio-size</strong></li>
    <li><strong>--fieldset-border</strong></li>
  </ul>

  <p>To update the values use the following:</p>

  <pre><code [highlight]="customCSS" language="css">
</code></pre>

  <h3 class="under-title">Event</h3>

  <ul>
    <li>
      <code>selectionChanged</code>: This event is emitted when a radio button
      is selected. The event detail is the selected option.
    </li>
  </ul>

  <p>e.g:</p>

  <pre><code [highlight]="event" language="typescript">
    
</code></pre>
</section>
