<div class="modal-content">
  <app-breadcrumb
    [title]="'Dropdown 1'"
    [breadcrumbItems]="[
      { label: 'Dropdown', link: '/dropdown' },
      { label: 'Dropdown 1' },
    ]"
  >
  </app-breadcrumb>
  <div class="wrapper">
    <div class="wrapper-head">
      <app-view-switcher
        [currentView]="currentView"
        [title]="switcherTitle"
        (viewChange)="switchView($event)"
      >
      </app-view-switcher>
    </div>
    <div
      class="content"
      [ngClass]="{ 'code-background': currentView === 'code' }"
    >
      @if (currentView === 'preview') {
        <ip-dropdown
          dropdown-title="Country"
          placeholder="Select a country:"
          items-options='["Mauritius", "France", "Germany", "Zimbabwe"]'
        >
        </ip-dropdown>
      }
      @if (currentView === 'code') {
        <app-code-snippet [code]="codeSnippet"></app-code-snippet>
      }
      @if (currentView === 'doc') {
        <app-doc-dropdown></app-doc-dropdown>
      }
    </div>
  </div>
</div>
