@import '../../../../assets/styles/index.scss';
.preview {
  display: flex;
  justify-content: center;
  padding: rem(70) 0 rem(250);
}
.content {
  background-color: #f4f4f4;
  height: 675px;
  overflow-y: auto;
  border-radius: 0 0 15px 15px;
}
