<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>COMPONENTS</p>
      <h2>Dropdown</h2>
    </div>
    <p></p>
  </div>
  <app-accordion title="Preview" [alwaysOpen]="true">
    <div class="dropdown-wrapper">
      <ip-dropdown
        dropdown-title="Country"
        placeholder="Select a country:"
        items-options='["Mauritius", "France", "Germany", "Zimbabwe"]'
      >
      </ip-dropdown>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet
      [htmlCode]="codeSnippet"
      [cssCode]="dropdown1Css"
    ></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-dropdown></app-doc-dropdown>
  </app-accordion>
</div>
