<div class="modal-content">
  <app-breadcrumb
    [title]="'Success Alert'"
    [breadcrumbItems]="[
      { label: 'Alert', link: '/alert' },
      { label: 'Success Alert' },
    ]"
  >
  </app-breadcrumb>
  <div class="wrapper">
    <div class="wrapper-head">
      <app-view-switcher
        [currentView]="currentView"
        [title]="switcherTitle"
        (viewChange)="switchView($event)"
      >
      </app-view-switcher>
    </div>
    <div
      class="content"
      [ngClass]="{ 'code-background': currentView === 'code' }"
    >
      @if (currentView === 'preview') {
        <div class="alert-wrapper">
          <ip-alert
            type="success"
            alert-title="Success"
            message="Your registration was completed successfully! You can now access your account."
          >
          </ip-alert>
        </div>
      }
      @if (currentView === 'code') {
        <app-code-snippet [code]="successAlertCode"></app-code-snippet>
      }
      @if (currentView === 'doc') {
        <app-doc-alert></app-doc-alert>
      }
    </div>
  </div>
</div>
