<div class="container">
  <section id="demo">
    <h2 class="under-title">Demo</h2>
    <div class="table">
      <div class="table-wrapper">
        <ip-table
          columns='[
                &#123; "header": "Name" , "type": "string"&#125;,
                &#123; "header": "Number", "type": "number" &#125;,
                &#123; "header": "Category", "type": "string" &#125;,
                &#123; "header": "Price" ,"type": "number"&#125;,
                &#123; "header": "Status", "type": "string" &#125;
                ]'
          rows='[
                &#123;"Name":"Slim Fit chinos","Number" :9504,"Category": "Men’s outwear","Price": 98.25, "Status": "In Stock"&#125;,
                &#123;"Name":"Wide-Brimmed Floppy Hat","Number": 9000,"Category": "Women’s Outwear","Price": 145.66,"Status": "Backorder"&#125;,
                &#123;"Name":"V-Neck Cashmere Sweater","Number": 9485,"Category": "Men’s outwear","Price": 65.00,"Status": "Low Stock"&#125;,
                &#123;"Name":"Striped Off-Shoulder To","Number": 1524,"Category": "Women’s Outwear","Price": 56.22,"Status": "In Stock"&#125;,
                &#123;"Name":"Quilted Bomber Jacket","Number": 1235,"Category": "Men’s outwear","Price": 14.56,"Status": "In Stock"&#125;,
                &#123;"Name":"Women’s Chescott Down Jacket","Number": 5689,"Category": "Women’s Outwear","Price": 100,"Status": "Backorder"&#125;,
                &#123;"Name":"Denim Trucker Jacket","Number": 2394,"Category": "Men’s outwear","Price": 52.45,"Status": "In Stock"&#125;,
                &#123;"Name":"High-Waisted Skinny Jeans","Number": 7859,"Category": "Women’s Outwear","Price": 125.00,"Status": "Low Stock"&#125;,
                &#123;"Name":"Men’s Harrington Jacket","Number":5600,"Category": "Men’s outwear","Price": 150.58,"Status": "In Stock"&#125;
              ]'
        >
        </ip-table>
      </div>
      <app-code-snippet [code]="codeSnippet"></app-code-snippet>
    </div>
  </section>
  <section id="documentation">
    <h2 class="under-title">Installation</h2>
    <h3>Step 1:</h3>
    <p>
      Install the <code>ip-table</code> component as a dependency in your
      project:
    </p>
    <pre><code>npm install ip-table</code></pre>

    <h3>Step 2:</h3>
    <p>Import the module in your script file:</p>
    <pre><code>import '../node_modules/ip-table/dist/ip-table/ip-table.esm';</code></pre>

    <h2 class="under-title">Usage</h2>

    <p>To use this component, we must add the properties as attributes.</p>

    <h3>Properties</h3>
    <table>
      <thead>
        <tr>
          <th>Property</th>
          <th>Attribute</th>
          <th>Necessity</th>
          <th>Description</th>
          <th>Type</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>columns</code></td>
          <td><code>columns</code></td>
          <td>Required</td>
          <td>
            This is a JSON string representing an array of objects for
            <code>thead</code>
          </td>
          <td><code>string</code></td>
          <td><code>undefined</code></td>
        </tr>
        <tr>
          <td><code>rows</code></td>
          <td><code>rows</code></td>
          <td>Required</td>
          <td>
            This is a JSON string representing an array of objects for
            <code>tbody</code>
          </td>
          <td><code>string</code></td>
          <td><code>undefined</code></td>
        </tr>
      </tbody>
    </table>

    <h4>Columns Property</h4>
    <p>
      The <code>columns</code> property is a JSON string representing an array
      of column definitions. Each column must have a <code>header</code> and a
      <code>type</code>:
    </p>
    <ul>
      <li>
        <strong>header</strong>: A string that represents the name of the
        column. This will be displayed as the column header in the table.
      </li>
      <li>
        <strong>type</strong>: A string that represents the type of data in the
        column. This should be either 'string' or 'number'. This is used to
        determine how to sort the column. 'string' type columns are sorted
        alphabetically, while 'number' type columns are sorted numerically.
      </li>
    </ul>

    <h4>Rows Property</h4>
    <p>
      The <code>rows</code> property is a JSON string representing an array of
      row objects. Each row object should contain key-value pairs where keys
      correspond to the column headers and values represent the cell data.
    </p>
    <div class="code-example">
      <pre><code>&lt;ip-table
  columns='[
      &#123; "header": "Name" , "type": "string"&#125;,
      &#123; "header": "Age", "type": "number" &#125;
      ]'
  rows='[
      &#123;"Name":"Benoit", "Age":25&#125;,
      &#123;"Name":"Linda", "Age":23&#125;
    ]'
&gt;
&lt;/ip-table&gt;</code></pre>
    </div>

    <h2 class="under-title">Customization</h2>
    <p>We have a set of predefined variables used to customize the table:</p>
    <ul>
      <li><code>--primary-color</code></li>
      <li><code>--secondary-color</code></li>
      <li><code>--thead-color</code></li>
      <li><code>--hover-color</code></li>
      <li><code>--font-size</code></li>
      <li><code>--font-family</code></li>
    </ul>
    <p>To update the values use the following:</p>
    <div class="code-example">
      <pre><code>ip-table &#123;
  --primary-color: #006342;
  --secondary-color: #000000;
  --thead-color: #f4f4f4;
  --hover-color: #e7f3ff;
  --font-size: 16px;
  --font-family: Arial, sans-serif;
&#125;</code></pre>
    </div>
  </section>
</div>
