@import '../../../../assets/styles/index.scss';

.alert-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(70) 0;
}
button {
  margin-top: rem(20);
  font-family: 'Nunito-bold';
  font-size: rem(16);
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: rem(10) rem(16);
  border: none;
  border-radius: rem(4);
  background-color: #b00057;
  color: #ffffff;
  cursor: pointer;
  width: 175px;
}
