<div class="modal-content">
  <div class="component">
    <h2 class="title">Alert</h2>
    <p>
      Alerts are used to inform users of important information. They can be used
      to provide feedback on user actions, inform users of system updates, or
      provide important information.
    </p>
  </div>
  <app-accordion title="Preview" [alwaysOpen]="true">
    <div class="alert-wrapper">
      <ip-alert
        type="info"
        alert-title="Info"
        message="System updates are complete. You may now continue working."
      >
      </ip-alert>
    </div>
  </app-accordion>
  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="infoAlertCode"></app-code-snippet>
  </app-accordion>
  <app-accordion title="Documentation">
    <app-doc-alert></app-doc-alert>
  </app-accordion>
</div>
