@import '../../../../assets/styles/index.scss';

.show-more-wrapper {
  display: flex;
  justify-content: center;
  margin-top: rem(125);
  height: 350px;

  .show-content {
    margin: rem(10) 0;
    padding: rem(10);
    width: rem(400);
    height: rem(135);
  }
}
