<div class="modal-content">
  <div class="component-intro">
    <h2 class="title">Show-more button</h2>
    <p></p>
  </div>
  <app-accordion title="Preview" [alwaysOpen]="true">
    <div class="show-more-wrapper">
      <div class="card-wrap">
        <app-card
          *ngFor="let card of cards"
          [imageUrl]="card.imageUrl"
          [title]="card.title"
        >
        </app-card>
      </div>

      <ip-show-more show-less-text="Voir moins" show-more-text="Voir plus">
        <div slot="content" class="show-content">
          <app-card
            *ngFor="let card of moreCards"
            [imageUrl]="card.imageUrl"
            [title]="card.title"
          >
          </app-card>
        </div>
      </ip-show-more>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="showMoreCode"></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-show-more></app-doc-show-more>
  </app-accordion>
</div>
