<div class="wrapper-title">
  <h1>{{ title }}</h1>
  <nav class="breadcrumb" aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <ng-container *ngFor="let item of breadcrumbItems; let last = last">
        <li
          class="breadcrumb-item"
          [ngClass]="{ active: last }"
          [attr.aria-current]="last ? 'page' : null"
          (keydown)="handleKeydown($event, item.link)"
        >
          <ng-container *ngIf="!last; else lastBreadcrumb">
            <a
              [routerLink]="item.link"
              (keydown)="handleKeydown($event, item.link)"
              [attr.aria-label]="'Link to ' + item.label"
              >{{ item.label }}</a
            >
          </ng-container>
          <ng-template #lastBreadcrumb>
            {{ item.label }}
          </ng-template>
        </li>
        <ng-container class="icon" *ngIf="!last">&gt;</ng-container>
      </ng-container>
    </ol>
  </nav>
</div>
