:host {
  --primary-color: var(--ip-primary-color, #e75480);
  --secondary-color: var(--ip-secondary-color, #474747);
  --font-size: var(--ip-font-size, 16px);
  --checkbox-size: var(--ip-checkbox-size, 17px);
}

fieldset {
  border: none;
  gap: 15px;
}

.legend {
  font-size: var(--font-size);
  font-weight: bold;
  margin-bottom: 10px;
}

.checkbox-list {
  display: flex;
  gap: 17px;
}

.checkbox-elements {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #fff;
  visibility: visible;
}
.custom-checkbox {
  display: inline-block;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border: 1px solid var(--secondary-color);
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;

  &:focus,
  &:hover {
    outline: 2px solid #000;
    outline-offset: 2px;
  }

  &.checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      color: #fff;
      visibility: visible;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &.checked {
      background-color: #949494;
      border-color: #949494;
    }
  }
}

.checkbox-label {
  cursor: pointer;
  font-size: var(--font-size);

  &.disabled {
    color: #949494;
  }

  &.disabled.checked {
    border-color: #949494;
  }
}
