footer {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  background-color: #efefef;
  height: 100px;
  justify-content: center;
  padding-left: 270px;

  .footer-link {
    display: flex;
    align-content: flex-start;
    padding: 0;
    gap: 20px;
    list-style: none;
    align-items: center;
    .link {
      color: #212121;
      font-size: 0.875rem;
      line-height: 20px;
      font-weight: 500;
      .label {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
  .copyright {
    font-size: 12px;
    line-height: 1rem;
    font-weight: 500;
    color: #212121;
    white-space: pre-line;
  }

  @media (max-width: 768px) {
    padding: 0px 20px;
    flex-direction: row;
    gap: 20px;
    .footer-link {
      display: block;
      text-align: center;
    }
    img {
      width: 50%;
      height: 50%;
    }
  }
}
