@import '../../../assets/styles/index.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content {
  background-color: #f4f4f4;
  height: 675px;
  overflow-y: auto;
  border-radius: 0 0 15px 15px;
}
