@import '../../../assets/styles/index.scss';

.switch-title {
  display: flex;
  align-items: center;
  h2 {
    margin: 0;
    color: #2e3243;
    font-size: 28px;
  }
}

.wrapper-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 2px solid #efefef;
  padding: 30px;
  border-radius: 20px 20px 0 0;
  .icon-button {
    display: flex;
    align-items: center;
  }
  .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: 120px;
    border-radius: 5px;
    color: $darkColor;
    gap: 10px;
    font-size: 16px;
  }
  .previewActive {
    background-color: $darkColor;
    color: #fff;
  }
  button {
    border: none;
    cursor: pointer;
    margin-left: 10px;
    background-color: none;
    padding: 0;

    &:focus,
    &:hover {
      outline: 2px solid $darkColor;
      outline-offset: 3px;
    }
  }
  .doc-btn,
  .code-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: $darkColor;
    gap: 10px;
    background: none;
  }
  .svg-active {
    fill: $darkColor;
    path {
      stroke: #fff;
    }
  }
}

.wrapper-content {
  padding: 10px 0;
}

@media (max-width: 768px) {
  .icon-button {
    display: flex;
    align-items: center;
  }
  .wrapper-buttons {
    padding: 20px;
    .preview {
      height: 40px;
      width: 100px;
      font-size: 14px;
      svg {
        width: 25px;
        height: 25px;
      }
    }
    .icon-button {
      gap: 2px;
      .preview {
        height: 40px;
        width: 100px;
        font-size: 14px;
      }
      button {
        width: 40px;
        height: 35px;
      }
    }
  }
  .switch-title {
    h2 {
      font-size: 20px;
    }
  }
}

@media (max-width: 370px) {
  .wrapper-buttons {
    padding: 10px;
    .preview {
      height: 30px;
      width: 80px;
      font-size: 12px;
      gap: 5px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .icon-button {
      gap: 2px;
      .preview {
        height: 25px;
        width: 70px;
        font-size: 10px;
      }
      button {
        width: 25px;
        height: 25px;
      }
    }
  }
  .switch-title {
    h2 {
      font-size: 16px;
    }
  }
}
