<nav
  class="sidebar-menu"
  id="navigation"
  role="navigation"
  aria-label="Main navigation"
>
  <ul class="menu-list">
    <li class="item" [class.open]="isOpen['intro']">
      <a
        routerLink="/"
        routerLinkActive="active"
        aria-label="Go to Introduction"
        (click)="onLinkClick()"
      >
        Intro
      </a>
    </li>

    <li class="item" [class.open]="isOpen['accordion']">
      <a
        routerLink="/accordion/accordion1"
        routerLinkActive="active"
        aria-label="Go to Accordion component"
        (click)="onLinkClick()"
      >
        Accordion
      </a>
    </li>

    <li class="item" [class.open]="isOpen['alert']">
      <div
        class="sub-title"
        tabindex="0"
        (click)="toggleSection('alert')"
        (keydown)="handleKeydown($event, 'alert')"
      >
        <span> Alert </span>
        <div class="icon">
          <img src="assets/images/vector.svg" alt="" />
        </div>
      </div>

      <ul class="sub-menu" [class.open]="isOpen['alert']">
        <li>
          <a
            routerLink="/alert/info-alert"
            routerLinkActive="active"
            aria-label="Go to Alert info preview"
            >Alert info</a
          >
        </li>
        <li>
          <a
            routerLink="/alert/success-alert"
            routerLinkActive="active"
            aria-label="Go to Alert success preview"
            >Alert success</a
          >
        </li>
        <li>
          <a
            routerLink="/alert/warning-alert"
            routerLinkActive="active"
            aria-label="Go to Alert Warning preview"
            >Alert Warning</a
          >
        </li>
        <li>
          <a
            routerLink="/alert/danger-alert"
            routerLinkActive="active"
            aria-label="Go to Alert Danger preview"
            >Alert Danger</a
          >
        </li>
      </ul>
    </li>

    <li class="item" [class.open]="isOpen['footnote']">
      <a
        routerLink="/footnote/footnote1"
        routerLinkActive="active"
        aria-label="Go to Footnote component"
        (click)="onLinkClick()"
      >
        Footnote
      </a>
    </li>

    <li class="item" [class.open]="isOpen['modal']">
      <a
        routerLink="/modal/modal1"
        routerLinkActive="active"
        aria-label="Go to Modal component"
        (click)="onLinkClick()"
      >
        Modal
      </a>
    </li>

    <li class="item" [class.open]="isOpen['pagination']">
      <a
        routerLink="/pagination/pagination1"
        routerLinkActive="active"
        aria-label="Go to Pagination component"
        (click)="onLinkClick()"
      >
        Pagination
      </a>
    </li>

    <li class="item" [class.open]="isOpen['show-more']">
      <a
        routerLink="/show-more/show-more1"
        routerLinkActive="active"
        aria-label="Go to Show-more component"
        (click)="onLinkClick()"
      >
        Show-more
      </a>
    </li>

    <li class="item" [class.open]="isOpen['table']">
      <a
        routerLink="/table/table1"
        routerLinkActive="active"
        aria-label="Go to Table component"
        (click)="onLinkClick()"
      >
        Table
      </a>
    </li>

    <li class="item" [class.open]="isOpen['tab-panel']">
      <a
        routerLink="/tab-panel/tab-panel1"
        routerLinkActive="active"
        aria-label="Go to Tab-panel component"
        (click)="onLinkClick()"
      >
        Tab-panel
      </a>
    </li>

    <li class="item" [class.open]="isOpen['tooltip']">
      <a
        routerLink="/tooltip"
        routerLinkActive="active"
        aria-label="Go to Tooltip component"
        (click)="onLinkClick()"
      >
        Tooltip
      </a>
    </li>

    <li class="item" [class.open]="isOpen['checkbox']">
      <a
        routerLink="/checkbox"
        routerLinkActive="active"
        aria-label="Go to Checkbox component"
        (click)="onLinkClick()"
      >
        Checkbox
      </a>
    </li>

    <li class="item" [class.open]="isOpen['dropdown']">
      <a
        routerLink="/dropdown/dropdown1"
        routerLinkActive="active"
        aria-label="Go to Dropdown component"
        (click)="onLinkClick()"
      >
        Dropdown
      </a>
    </li>

    <li class="item" [class.open]="isOpen['login']">
      <a
        routerLink="/login"
        routerLinkActive="active"
        aria-label="Go to Login component"
        (click)="onLinkClick()"
      >
        Login
      </a>
    </li>

    <li class="item" [class.open]="isOpen['radio-button']">
      <a
        routerLink="/radio-button/radio-button1"
        aria-label="Go to Radio-button component"
        routerLinkActive="active"
        (click)="onLinkClick()"
      >
        Radio-button
      </a>
    </li>

    <li class="item" [class.open]="isOpen['search-bar']">
      <a
        routerLink="/search-bar/search-bar1"
        routerLinkActive="active"
        aria-label="Go to search-bar component"
        (click)="onLinkClick()"
      >
        Search-bar
      </a>
    </li>

    <li class="item" [class.open]="isOpen['toggle']">
      <a
        routerLink="/toggle"
        routerLinkActive="active"
        aria-label="Go to Toggle component"
        (click)="onLinkClick()"
      >
        Toggle
      </a>
    </li>
  </ul>
</nav>
