@import '../../../assets/styles/index.scss';

:host {
  top: 0;
  z-index: 1000;
}
.sidebar-menu {
  background-color: #2e3243;
}

.menu-list {
  display: flex;
  width: 90%;
  min-height: 1100px;
  height: auto;
  max-height: 2500px;
  padding: 24px 8px 0px 8px;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;

  li {
    padding: 10px 10px 10px 30px;
    &:hover,
    &:focus {
      background-color: #b00057;
    }
    &:active {
      background-color: #a10252;
    }

    &.focus {
      outline: 3px solid #000;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

// .sidebar-menu {
//   font-family: 'Nunito', sans-serif;
//   background-color: #2e3243;
//   color: $sidebarTextColor;
//   padding: 0 rem(30) rem(30) rem(30);
//   margin: 0;
//   overflow-y: auto;
//   gap: rem(20);
//   ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     gap: 30px;
//     .menu-item {
//       border-bottom: 1px solid $lightColor;

//       h3 {
//         margin-top: rem(30);
//         padding-inline-end: rem(10);
//         text-align: center;
//         cursor: pointer;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         font-size: rem(24);
//         color: $lightColor;
//         list-style: none;

//         .toggle-arrow {
//           width: rem(8);
//           height: rem(8);
//           border: solid white;
//           border-width: 0 2px 2px 0;
//           padding: rem(3);
//           transform: rotate(45deg);
//           transition: transform 0.3s ease;
//         }

//         .toggle-arrow.rotate {
//           transform: rotate(-135deg);
//         }
//       }

//       ul {
//         list-style: none;
//         margin: 0;
//         padding: 0;
//         transition:
//           max-height 0.3s ease,
//           opacity 0.3s ease;
//         overflow: hidden;
//         max-height: 0;
//         opacity: 0;
//         display: none;

//         &.expanded {
//           max-height: 900px;
//           opacity: 1;
//           display: block;
//         }

//         li {
//           margin: 0;
//           box-sizing: border-box;
//           width: 100%;

//           a {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             padding: rem(20);
//             border-radius: rem(5);
//             color: white;
//             text-decoration: none;
//             background-color: transparent;
//             font-size: rem(18);
//             font-style: normal;
//             font-weight: 400;
//             line-height: normal;
//             position: relative;
//             width: 83%;
//             margin-left: 5px;
//             margin: rem(5);

//             transition:
//               background-color 0.3s ease,
//               color 0.3s ease;

//             &::before {
//               content: '';
//               position: absolute;
//               inset-block-start: 0;
//               inset-inline-start: 0;
//               inline-size: 0;
//               block-size: 100%;
//               background-color: $primaryColor;
//               pointer-events: none;
//               transition: inline-size 0.3s ease;
//             }

//             &[aria-current='page'],
//             &:hover,
//             &:focus,
//             &:focus-visible {
//               background-color: fade(darken($darkColor, 10%), 30%);
//               color: contrast(
//                 fade(darken($darkColor, 10%), 30%),
//                 $lightColor,
//                 $darkColor
//               );

//               &::before {
//                 inline-size: rem(5);
//               }
//             }
//           }
//         }
//       }
//     }
//   }

//   ::-webkit-scrollbar {
//     width: 0;
//     background: transparent;
//   }

//   -ms-overflow-style: none;
//   scrollbar-width: none;
// }
// @media (max-width: 1300px) {
//   :host {
//     height: auto;
//   }

//   .sidebar-menu {
//     padding: 0 rem(20) rem(20) rem(20);

//     .menu-item {
//       h3 {
//         font-size: rem(18);

//         padding-inline-end: rem(8);
//       }

//       ul {
//         max-height: 600px;
//       }

//       a {
//         font-size: rem(16);
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   .sidebar-menu {
//     margin-bottom: 20px;
//     padding: 0 rem(15) rem(15) rem(15);
//     border-radius: 0px;
//     .menu-list {
//       .menu-item {
//         h3 {
//           font-size: rem(16);
//           padding-inline-end: rem(6);
//         }

//         ul {
//           max-height: 500px;
//         }

//         a {
//           font-size: rem(12);
//         }
//       }
//     }
//   }
// }
