@import '../../../assets/styles/index.scss';

:host {
  top: 0;
  z-index: 1000;
}
.sidebar-menu {
  background-color: #2e3243;
}

.menu-list {
  color: #fff;
  display: flex;
  width: 90%;
  min-height: 1100px;
  height: auto;
  max-height: 2500px;
  padding: 24px 8px 0px 8px;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;

  .sub-title {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &.hover {
      background-color: #b00057;
    }
  }
  li {
    position: relative;
    padding: 10px 10px 10px 30px;

    .arrow {
      position: absolute;
      right: 10px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    .sub-menu {
      display: none;
      padding: 0;
      margin: 0;
      list-style: none;
      background-color: transparent;

      li {
        padding: 5px 10px;

        &:hover,
        &:focus {
          background-color: #b00057;
        }
        &:active {
          background-color: #a10252;
        }

        a {
          color: #fff;
        }
      }
    }

    &.open .sub-menu {
      display: block;
    }

    &:focus {
      background-color: #b00057;
    }
    &:active {
      background-color: #a10252;
    }

    &.focus {
      outline: 3px solid #000;
    }
    a {
      display: block;
      text-decoration: none;
      color: #fff;
      width: 100%;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    svg {
      transition: transform 0.3s ease;
      transform: rotate(180deg);
    }
    &.open svg {
      transform: rotate(0deg);
    }
  }
}
