<div *ngIf="currentView === 'preview'">
  <div class="toggle">
    <ip-toggle size="small">
      <label class="switch-label" slot="switch-label"
        >Activate strong authentication</label
      >
      <p class="helper-text" slot="helper-text">This is the helper text.</p>
    </ip-toggle>
  </div>
</div>
<div *ngIf="currentView === 'code'">
  <app-code-snippet [code]="toggleWithIndicCode"> </app-code-snippet>
</div>
<div *ngIf="currentView === 'doc'">
  <app-doc-toogle></app-doc-toogle>
</div>
