@import '../utilities';
@import '../theme/colors';
.modal-content {
  padding-left: 20px;
  .component-intro {
    color: #2e3243;
    display: flex;
    width: 706px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-bottom: 60px;
    margin: 0;

    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        color: #474747;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        font-family: 'Mulish-light';
      }
      h2 {
        color: #2e3243;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin: 0;
        font-family: 'Mulish-bold';
      }
    }
    p {
      margin: 0;
      line-height: 27px;
      font-weight: 300;
      font-size: 18px;
      font-family: 'Mulish-light';
    }
  }
}

h3,
h4,
h5,
h6 {
  color: #2e3243;
}
.under-title {
  color: #2e3243;
  margin-top: rem(15);
  font-size: 24px;
  font-weight: 700;
  font-family: 'Mulish-light';
}
pre {
  background-color: #1e1e1e;
  color: $lightColor;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  margin: 0;
}
#documentation {
  background-color: #fff;
  padding: 25px;
  font-family: 'Mulish-light';

  h4 {
    font-size: 18px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: rem(20);

    tr {
      border: 0.5px solid #e9dede;
      padding: rem(10);
    }
    td {
      padding: rem(10);
    }
    th {
      background-color: $primaryColor;
      color: $lightColor;
      padding: rem(10);
      text-align: start;
    }
  }
}
@media (max-width: 1024px) {
  #documentation {
    margin: 0 rem(12);
    padding: rem(15);

    h3 {
      font-size: rem(24);
    }

    pre {
      padding: rem(8);
    }

    table {
      th,
      td {
        padding: rem(6);
      }
    }
  }
}
@media (max-width: 768px) {
  #documentation {
    font-size: rem(16);

    h3 {
      font-size: rem(20);
    }
  }
}
@media (max-width: 480px) {
  #documentation {
    font-size: rem(14);

    h3 {
      font-size: rem(16);
    }
  }
}
