@import '../utilities';
@import '../theme/colors';

h3,
h4,
h5,
h6 {
  color: $primaryColor;
}
.under-title {
  text-align: center;
  color: $primaryColor;
  margin-top: rem(15);
}
pre {
  background-color: #1e1e1e;
  color: $lightColor;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  margin: 0;
}
#documentation {
  margin: 0 rem(18);
  padding: 20px;
  font-family: 'Nunito';

  h3 {
    margin-top: rem(20);
    color: $primaryColor;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: rem(20);

    th,
    td {
      border: 1px solid $darkColor;
      padding: rem(8);
      text-align: center;
    }

    th {
      background-color: $primaryColor;
      color: $lightColor;
    }
  }
}
@media (max-width: 1024px) {
  #documentation {
    margin: 0 rem(12);
    padding: rem(15);

    h3 {
      font-size: rem(24);
    }

    pre {
      padding: rem(8);
    }

    table {
      th,
      td {
        padding: rem(6);
      }
    }
  }
}
