<h1>Introduction</h1>

<div class="intro">
    <p>Explore a new dimension of web design where accessibility is at the core of every component. With 16 years of unparalleled expertise, we at Ipedis are proud to present a design system crafted to create inclusive digital experiences for all.</p>
    <p>Our platform has been meticulously designed to help you develop complex components while adhering to the strictest accessibility standards. Each component you discover here is designed to provide an accessible design, accompanied by detailed guidelines on its optimal use.</p>
    <p>At Ipedis, we firmly believe in "Accessibility by Design." This means integrating accessibility principles from the outset, ensuring a superior and inclusive user experience.</p>
    <p>Dive into our interactive demo and see how our components can enrich your web project while meeting the needs of everyone. Whether you're a seasoned developer or a novice, our design system is here to guide you towards accessible solutions without compromising on quality or innovation.</p>
    <p>Ready to create accessible web experiences that make a difference? Explore our design system today and start shaping a more inclusive web for all.</p>
</div>
<div class="mail">
    <h2>Any questions?</h2>  
     <p>   Contact us at <a href="mailto:contact@ipedis.com">contact&#64;ipedis.com</a>.
    </p>
</div>