@import '../../../assets/styles/index.scss';

h1 {
  margin: rem(30);
  color: $primaryColor;
  font-size: rem(40);
}

h2 {
  color: $primaryColor;
}

.intro {
  line-height: 1.6;
}
.content {
  padding: rem(25);
  font-family: 'Mulish-regular';
  background-color: #f4f4f4;
  height: 675px;
  overflow-y: auto;
  border-radius: rem(15);
}
