<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    Follow these steps to install and use the
    <code>ip-stepper</code> component in your project.
  </p>
  <h4>Step 1</h4>
  <p>
    Install the <code>ip-stepper</code> component as a dependency in your
    project:
  </p>
  <pre><code [highlight]="installationScript" language="bash">npm install ip-accordion</code></pre>

  <h4>Step 2</h4>
  <p>Import the module into your script file:</p>
  <pre><code [highlight]="import" language="typescript"></code></pre>

  <h3 class="under-title">Usage</h3>
  <p>
    The ip-stepper component facilitates step-by-step navigation. To use this
    component, configure it by setting the properties as attributes and use slot
    attribute for the content for each step.
  </p>
  <h4>Properties</h4>
  <table>
    <thead>
      <tr>
        <th scope="col">Property</th>
        <th scope="col">Attribute</th>
        <th scope="col">Necessity</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>steps</td>
        <td>steps</td>
        <td>Required</td>
        <td>Total number of steps in the stepper</td>
        <td>number</td>
        <td>0</td>
      </tr>
      <tr>
        <td>backBtnAriaLabel</td>
        <td>back-btn-aria-label</td>
        <td>Optional</td>
        <td>ARIA label for the back button</td>
        <td>string</td>
        <td>'Go back to the previous step'</td>
      </tr>
      <tr>
        <td>backBtnText</td>
        <td>back-btn-text</td>
        <td>Optional</td>
        <td>Text displayed on the back button</td>
        <td>string</td>
        <td>'Back'</td>
      </tr>
      <tr>
        <td>continueBtnAriaLabel</td>
        <td>continue-btn-aria-label</td>
        <td>Optional</td>
        <td>ARIA label for the continue button</td>
        <td>string</td>
        <td>'Continue to the next step'</td>
      </tr>
      <tr>
        <td>continueBtnText</td>
        <td>continue-btn-text</td>
        <td>Optional</td>
        <td>Text displayed on the continue button</td>
        <td>string</td>
        <td>'Continue'</td>
      </tr>
      <tr>
        <td>finishBtnAriaLabel</td>
        <td>finish-btn-aria-label</td>
        <td>Optional</td>
        <td>ARIA label for the finish button</td>
        <td>string</td>
        <td>'Finish the process'</td>
      </tr>
      <tr>
        <td>finishBtnText</td>
        <td>finish-btn-text</td>
        <td>Optional</td>
        <td>Text displayed on the finish button</td>
        <td>string</td>
        <td>'Finish'</td>
      </tr>
      <tr>
        <td>indicatorText</td>
        <td>indicator-text</td>
        <td>Optional</td>
        <td>Text displayed before the step indicator</td>
        <td>string</td>
        <td>'Step'</td>
      </tr>
      <tr>
        <td>simulatorAria</td>
        <td>simulator-aria</td>
        <td>Optional</td>
        <td>The aria label is used for the list of step indicators</td>
        <td>string</td>
        <td>'Simulator progress'</td>
      </tr>
    </tbody>
  </table>
  <h4>Step Content</h4>
  <p>
    To provide content for each step, use the slot attribute with the
    corresponding step name:
  </p>
  <ul>
    <li><code>slot="step1"</code>: content for step 1</li>
    <li><code>slot="step2"</code>: content for step 2</li>
    <li><code>slot="step3"</code>: content for step 3</li>
    <li><code>slot="step4"</code>: content for step 4</li>
  </ul>
  <p><em>e.g:</em></p>
  <pre class="example">
    <code [highlight]="example" language="html"></code>
  </pre>
  <h3 class="under-title">Customization</h3>
  <p>We have a set of predefined variable used to customisation the stepper:</p>
  <ul>
    <li><code>--primary-color</code></li>
    <li><code>--secondary-color</code></li>
    <li><code>--indicator-text-color</code></li>
  </ul>
  <p><em>e.g:</em></p>

  <p>To update the values, use the following CSS code:</p>
  <pre class="example">
        <code [highlight]="custom" language="css"></code>
       </pre>
  <h3 class="under-title">Event</h3>
  <p>
    The <code>ip-stepper</code>component emits a custom event when the "Finish"
    button is clicked. The event is named <code>finishButtonClick</code>
  </p>
  <p>
    You can listen for this event to perform specific actions when the `Finish`
    button is clicked:
  </p>
  <pre class="javascript">
    <code [highlight]="event" language="typescript"></code>
   </pre>
</section>
