<div class="modal-content">
  <app-breadcrumb
    [title]="'Tooltip 1'"
    [breadcrumbItems]="[
      { label: 'Tooltip', link: '/tooltip' },
      { label: 'Tooltip 1' },
    ]"
  >
  </app-breadcrumb>
  <div class="wrapper">
    <div class="wrapper-head">
      <app-view-switcher
        [currentView]="currentView"
        [title]="switcherTitle"
        (viewChange)="switchView($event)"
      >
      </app-view-switcher>
    </div>
    <div
      class="content"
      [ngClass]="{ 'code-background': currentView === 'code' }"
    >
      <div class="container">
        @if (currentView === 'preview') {
          <div class="preview">
            <ip-tooltip
              tooltip-trigger="Click Me!"
              tooltip-content="Please enter a description of the tooltip. The length is 3/4 lines maximum. Arrows can be adjusted position."
              type="click"
            >
            </ip-tooltip>
          </div>
        }
        @if (currentView === 'code') {
          <app-code-snippet [code]="clickableCode"> </app-code-snippet>
        }
        @if (currentView === 'doc') {
          <app-doc-tooltip></app-doc-tooltip>
        }
      </div>
    </div>
  </div>
</div>
