<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <p>
    Follow these steps to install and use the <code>ip-login</code> component in
    your project.
  </p>
  <h4>Step 1</h4>
  <p>
    Install the <code>ip-login</code> component as a dependency in your project:
  </p>
  <pre><code [highlight]="installationScript" language="typescript"></code></pre>
  <h4>Step 2</h4>
  <p>Import the module into your script file:</p>
  <pre><code [highlight]="import" language="typescript"></code></pre>
  <h3 class="under-title">Usage</h3>

  <p>
    To use this component, add it to your HTML and configure it with the desired
    properties.
  </p>
  <h4>Properties</h4>
  <table>
    <thead>
      <tr>
        <th scope="col">Property</th>
        <th scope="col">Attribute</th>
        <th scope="col">Necessity</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>usernameLabel</td>
        <td>username-label</td>
        <td>Optional</td>
        <td>Label for the username input field</td>
        <td>string</td>
        <td>Username</td>
      </tr>
      <tr>
        <td>passwordLabel</td>
        <td>forgot-password-link</td>
        <td>Optional</td>
        <td>Label for the password input field</td>
        <td>string</td>
        <td>Password</td>
      </tr>
      <tr>
        <td>submitButtonLabel</td>
        <td>submit-button-label</td>
        <td>Optional</td>
        <td>Label for the submit button</td>
        <td>string</td>
        <td>Login</td>
      </tr>
      <tr>
        <td>usernameErrorMsg</td>
        <td>username-error-msg</td>
        <td>Optional</td>
        <td>Error message for empty username field</td>
        <td>string</td>
        <td>Username is required</td>
      </tr>
      <tr>
        <td>usernameInvalidEmailMsg</td>
        <td>username-invalid-email-msg</td>
        <td>Optional</td>
        <td>Error message for invalid email format</td>
        <td>string</td>
        <td>The email address is invalid</td>
      </tr>
      <tr>
        <td>passwordLengthErrorMsg</td>
        <td>password-length-error-msg</td>
        <td>Optional</td>
        <td>Error message for insufficient password length</td>
        <td>string</td>
        <td>The password must contain at least 8 characters</td>
      </tr>
      <tr>
        <td>passwordUppercaseErrorMsg</td>
        <td>password-uppercase-error-msg</td>
        <td>Optional</td>
        <td>Error message for missing uppercase letter in password</td>
        <td>string</td>
        <td>Password must contain at least one capital</td>
      </tr>
      <tr>
        <td>passwordLowercaseErrorMsg</td>
        <td>password-lower-error-msg</td>
        <td>Optional</td>
        <td>Error message for missing lowercase letter in password</td>
        <td>string</td>
        <td>The password must contain at least a lower case</td>
      </tr>
      <tr>
        <td>passwordDigitErrorMsg</td>
        <td>password-digit-error-msg</td>
        <td>Optional</td>
        <td>Error message for missing digit in password</td>
        <td>string</td>
        <td>The password must contain at least one digit</td>
      </tr>
      <tr>
        <td>usernameType</td>
        <td>username-type</td>
        <td>Optional</td>
        <td>Type of the username input field (text or email)</td>
        <td>text / email</td>
        <td>text</td>
      </tr>
      <tr>
        <td>showPasswordAriaLabel</td>
        <td>show-password-aria-label</td>
        <td>Optional</td>
        <td>Aria label for the button to show password</td>
        <td>string</td>
        <td>Show password</td>
      </tr>
      <tr>
        <td>hidePasswordAriaLabel</td>
        <td>hide-password-aria-label</td>
        <td>Optional</td>
        <td>Aria label for the button to hide password</td>
        <td>string</td>
        <td>Hide password</td>
      </tr>
      <tr>
        <td>usernameRequired</td>
        <td>username-required</td>
        <td>Optional</td>
        <td>Whether the username field is required</td>
        <td>boolean</td>
        <td>false</td>
      </tr>
      <tr>
        <td>pwdPlaceholder</td>
        <td>pwd-placeholder</td>
        <td>Optional</td>
        <td>Placeholder text for the password field</td>
        <td>string</td>
        <td>Type your password here...</td>
      </tr>
      <tr>
        <td>usernamePlaceholder</td>
        <td>username-placeholder</td>
        <td>Optional</td>
        <td>Placeholder text for the username field</td>
        <td>string</td>
        <td>Type your username here...</td>
      </tr>
      <tr>
        <td>forgotPasswordLink</td>
        <td>forgot-password-link</td>
        <td>Optional</td>
        <td>URL for the forgot password link</td>
        <td>string</td>
        <td>''</td>
      </tr>
      <tr>
        <td>forgotPasswordLabel</td>
        <td>forgot-password-label</td>
        <td>Optional</td>
        <td>Label text for the forgot password link</td>
        <td>string</td>
        <td>Forgot password?</td>
      </tr>
      <tr>
        <td>loginTitle</td>
        <td>login-title</td>
        <td>Optional</td>
        <td>Title of the login form</td>
        <td>string</td>
        <td>Login</td>
      </tr>
      <tr>
        <td>indicationLabel</td>
        <td>indication-label</td>
        <td>Optional</td>
        <td>Label indicating required fields</td>
        <td>string</td>
        <td>Required fields</td>
      </tr>
      <tr>
        <td>submitBtnAriaLabel</td>
        <td>submit-btn-aria-label</td>
        <td>Optional</td>
        <td>Aria-label of submit button</td>
        <td>string</td>
        <td>Submit the form</td>
      </tr>
    </tbody>
  </table>
  <p><em>e.g:</em></p>
  <pre><code [highlight]="example" language="html"></code></pre>

  <h3 class="under-title">Customization</h3>
  <p>
    You can customize the appearance of the login-form component using CSS
    variables and part selectors:
  </p>

  <h4>CSS variables</h4>
  <ul>
    <li><code>--primary-color</code></li>
    <li><code>--secondary-color</code></li>
    <li><code>--focus-color</code></li>
  </ul>

  <h4>Parts Selectors</h4>

  <ul>
    <li><code>title</code>: For the title section</li>
    <li><code>indication</code>: For the required indication label</li>
    <li><code>username-label</code>: For the username label</li>
    <li><code>username-input</code>: For the username input field</li>
    <li><code>passsword-label</code>: For the password label</li>
    <li><code>passsword-input</code>: For the password input field</li>
    <li>
      <code>toggle-password</code>: For the button to toggle password visibility
    </li>
    <li><code>error-message</code>: For error message</li>
    <li><code>forgot-password</code>: For the forgot password link</li>
    <li><code>submit-btn</code>: For the submit button</li>
  </ul>

  <p>To update the values, use the following CSS:</p>
  <pre><code [highlight]="custom" language="css"></code></pre>

  <h3 class="under-title">Listening to Events</h3>
  <p>
    The login-form component emits a <code>formSubmitted`</code> event when the
    form is successfully submitted. You can listen to this event in your
    JavaScript code:
  </p>
  <p><em>e.g:</em></p>
  <pre><code [highlight]="eventListener" language="typescript"></code></pre>
</section>
