<app-modal>
  <div preview>
    <div class="with-email login">
      <form class="login-form">
        <ip-email
          class="form-group"
          error-message="The email entered is incorrect"
        >
        </ip-email>
        <ip-password
          class="form-group"
          error-message="The password entered is incorrect"
          forgot-password-link="#"
        >
        </ip-password>
        <div class="submit-btn">
          <button class="btn" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div code>
    <code>
      <pre>
        <div class="with-email login">
            <form class="login-form">
              <ip-email
                class="form-group"
                error-message="The email entered is incorrect"
              >
              </ip-email>
              <ip-password
                class="form-group"
                error-message="The password entered is incorrect"
                forgot-password-link="#"
              >
              </ip-password>
              <div class="submit-btn">
                <button class="btn" type="submit">Login</button>
              </div>
            </form>
        </div>
    </pre>
    </code>
  </div>
  <div doc>
    <app-doc-login></app-doc-login>
  </div>
</app-modal>
