<div class="modal-content">
  <app-breadcrumb
    [title]="'Login 1'"
    [breadcrumbItems]="[
      { label: 'Login', link: '/login' },
      { label: 'Login 1' },
    ]"
  >
  </app-breadcrumb>
  <div class="wrapper">
    <div class="wrapper-head">
      <app-view-switcher
        [currentView]="currentView"
        [title]="switcherTitle"
        (viewChange)="switchView($event)"
      >
      </app-view-switcher>
    </div>
    <div
      class="content"
      [ngClass]="{ 'code-background': currentView === 'code' }"
    >
      @if (currentView === 'preview') {
        <div class="with-email login">
          <form class="login-form">
            <ip-email
              required
              class="form-group"
              error-message="The email entered is incorrect"
            >
            </ip-email>
            <ip-password
              class="form-group"
              error-message="The password entered is incorrect"
              forgot-password-link="#"
            >
            </ip-password>
            <div class="submit-btn">
              <button class="btn" type="submit">Login</button>
            </div>
          </form>
        </div>
      }
      @if (currentView === 'code') {
        <app-code-snippet [code]="withEmailCode"></app-code-snippet>
      }
      @if (currentView === 'doc') {
        <app-doc-login></app-doc-login>
      }
    </div>
  </div>
</div>
