<div class="modal-content">
  <div class="component-intro">
    <h2 class="title">Footnote</h2>
    <p></p>
  </div>
  <app-accordion title="Preview" [alwaysOpen]="true">
    <div>
      <p>
        Here is a sentence with a footnote reference
        <sup><a href="#footnote-1" id="ref1">1</a></sup
        >.
      </p>

      <ip-footnote
        id="footnote-1"
        identifier="1"
        text="This is a detailed explanation or reference for the footnote."
      >
      </ip-footnote>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="codeSnippet"></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-footnote></app-doc-footnote>
  </app-accordion>
</div>
