<div class="modal-content">
  <div class="component-intro">
    <h2 class="title">Footnote</h2>
    <p></p>
  </div>
  <app-accordion title="Preview" [alwaysOpen]="true">
    <div>
      <h1>Welcome to My Angular App</h1>
      <p id="reffn1">
        This is a sample paragraph. For more details, see the footnote below.
        <a href="#fn1">[1]</a>
      </p>

      <ip-footnote
        identifier="fn1"
        btnAriaLabel="Back to main text"
        text="This is a detailed explanation of the point made above."
        svgColor="blue"
      >
      </ip-footnote>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="codeSnippet"></app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-footnote></app-doc-footnote>
  </app-accordion>
</div>
