<section id="documentation">
  <h2 class="under-title">Installation</h2>
  <p>
    Follow these steps to install and use the
    <code>ip-accordion</code> component in your project.
  </p>
  <h3>Step 1</h3>
  <p>
    Install the <code>ip-accordion</code> component as a dependency in your
    project:
  </p>
  <pre><code>npm install ip-accordion</code></pre>

  <h3>Step 2</h3>
  <p>Import the module into your script file:</p>
  <pre><code>import '../node_modules/ip-accordion/dist/ip-accordion/ip-accordion.esm';</code></pre>

  <h2 class="under-title">Usage</h2>

  <p>
    To use the ip-accordion component, you need to define the properties as
    attributes and provide slot content for each accordion item.
  </p>
  <h3>Properties</h3>
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Attribute</th>
        <th>Necessity</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>accordionHeaders</td>
        <td>accordion-headers</td>
        <td>Required</td>
        <td>Defines headers for each accordion item using a JSON array</td>
        <td>accordionHeadersInterface[] | string</td>
        <td>undefined</td>
      </tr>
      <tr>
        <td>isFirstPanelOpen</td>
        <td>is-first-panel-open</td>
        <td>Optional</td>
        <td>Controls whether the first panel is open by default</td>
        <td>boolean</td>
        <td>undefined</td>
      </tr>
      <tr>
        <td>isSingleOpen</td>
        <td>is-single-open</td>
        <td>Optional</td>
        <td>Determines if only one panel can be open at a time</td>
        <td>boolean</td>
        <td>undefined</td>
      </tr>
      <tr>
        <td>titleTag</td>
        <td>title-tag</td>
        <td>Optional</td>
        <td>Specifies the HTML tag to use for the accordion headers</td>
        <td>string</td>
        <td>'h2'</td>
      </tr>
    </tbody>
  </table>
  <h4>accordion-headers</h4>
  <p>
    This attribute sets the accordion header details. Each header object can
    have the following properties:
  </p>
  <ul>
    <li><strong>title</strong>:The title of the accordion header (optional)</li>
    <li><strong>iconPath</strong>:Path to the icon image (optional)</li>
    <li>
      <strong>iconActivePath</strong>:Path to the icon image when the header is
      active (optional)
    </li>
    <li><strong>subtitle</strong>:A subtitle for the header (optional)</li>
    <li>
      <strong>btnAlt</strong>: Alt text for the button when closed (optional)
    </li>
    <li>
      <strong>btnAltClose</strong>:Alt text for the button when open (optional)
    </li>
    <li><strong>id</strong>:Unique ID for the button (optional)</li>
    <li><strong>ariaText</strong>:Accessible name for the panel (required)</li>
  </ul>

  <h4>Panels Content</h4>

  <p>
    The contents of each panel should be placed inside
    <code>&lt;div&gt;</code> elements with slot attributes matching accordion-1,
    accordion-2, etc.
  </p>

  <p><em>e.g:</em></p>
  <pre><code>&lt;ip-accordion
        accordion-headers='[
        &#123;"title":"Section 1", "iconPath": "assets/images/icon1.svg", "iconActivePath": "assets/images/icon1-active.svg", "btnAlt": "Open Section 1", "btnAltClose": "Close Section 1", "ariaText": "section-1"&#125;,
        &#123;"title":"Section 2", "iconPath":"assets/images/icon2.svg", "iconActivePath": "assets/images/icon2-active.svg", "btnAlt": "Open Section 2", "btnAltClose": "Close Section 2", "ariaText": "section-2"&#125;,
        &#123;"title":"Section 3", "iconPath":"assets/images/icon3.svg", "iconActivePath": "assets/images/icon3-active.svg", "btnAlt": "Open Section 3", "btnAltClose": "Close Section 3", "ariaText": "section-3"&#125;
      ]'
  is-first-panel-open
  is-single-open
  title-tag="h3"    
        &gt;
        &lt;div slot="accordion-1"&gt;--content of Accessibilité--&lt;/div&gt;
        &lt;div slot="accordion-2"&gt;--content of Pdf Document--&lt;/div&gt;
        &lt;div slot="accordion-3"&gt;--content of Statistical--&lt;/div&gt;
        &lt;div slot="accordion-4"&gt;--content of Certification--&lt;/div&gt;
        &lt;div slot="accordion-5"&gt;--content of Legislation--&lt;/div&gt;
      &lt;/ip-accordion&gt;
    </code></pre>

  <h2 class="under-title">Customization</h2>
  <p>
    We have a set of predefined variable used to customize the accordion-panel:
  </p>
  <ul>
    <li><code>--ip-acc-primary-color</code></li>
    <li><code>--ip-acc-secondary-color</code></li>
    <li><code>--ip-acc-font</code></li>
    <li><code>--ip-acc-icon-size</code></li>
  </ul>
  <p>To update the values use the following:</p>
  <pre class="code-block"><code>ip-accordion &#123;
  --ip-acc-primary-color: #006342;
  --ip-acc-secondary-color: #000000;
&#125;</code></pre>

  <h3>Class</h3>
  <p>We have a set of classes that could be used to customise accordingly:</p>
  <ul>
    <li><code>ip-accordion</code>: for the container of the panels</li>
    <li><code>acc-content</code>: for the content of the panel</li>
    <li><code>acc-header</code>:for the header of the panel</li>
    <li><code>acc-panel</code>: for each panel div</li>
  </ul>
  <p>Example:</p>
  <pre class="code-block"><code>ip-accordion::part(acc-content) &#123;
  background-color: #305b38;
&#125;</code></pre>
  <br />
  <pre class="code-block"><code>ip-accordion &#123;
  &::part(acc-content) &#123;
    background-color: #305b38;
  &#125;
&#125;</code></pre>
  <br />
  <pre class="code-block"><code>&lt;ip-accordion&gt;
  &lt;div class="my-class"&gt;--content 1--&lt;/div&gt;

  &lt;div class="my-class"&gt;--content 2--&lt;/div&gt;

  &lt;div class="my-class"&gt;--content 3--&lt;/div&gt;
&lt;/ip-accordion&gt;</code></pre>
</section>
