@import '../../../../assets/styles/index.scss';

.toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: rem(70) 0;
}
.content {
  background-color: #f4f4f4;
  height: 675px;
  overflow-y: auto;
  border-radius: 0 0 15px 15px;
}
