<app-modal>
  <div preview>
    <div class="toggle">
      <ip-toggle
        active-label="ON"
        inactive-label="OFF"
        aria-label="Toggle notifications on or off"
        size="small"
        checked="true"
      >
      </ip-toggle>

      <ip-toggle
        active-label="ON"
        inactive-label="OFF"
        aria-label="Toggle notifications on or off"
        checked="false"
      >
      </ip-toggle>
    </div>
  </div>
  <div code>
    <code>
      <pre>
            <div class="toggle">
                <ip-toggle
                    active-label="ON"
                    inactive-label="OFF"
                    aria-label="Toggle notifications on or off"
                    size="small"
                    checked="true"
                >
                </ip-toggle>

                <ip-toggle
                    active-label="ON"
                    inactive-label="OFF"
                    aria-label="Toggle notifications on or off"
                    checked="false"
                >
                </ip-toggle>
            </div>
      </pre>
    </code>
  </div>
  <div doc>
    <app-doc-toogle></app-doc-toogle>
  </div>
</app-modal>
