<div *ngIf="currentView === 'preview'">
  <div class="toggle">
    <ip-toggle
      active-label="ON"
      inactive-label="OFF"
      aria-label="Toggle notifications on or off"
      size="small"
      checked="true"
    >
    </ip-toggle>

    <ip-toggle
      active-label="ON"
      inactive-label="OFF"
      aria-label="Toggle notifications on or off"
      checked="false"
    >
    </ip-toggle>
  </div>
</div>
<div *ngIf="currentView === 'code'">
  <app-code-snippet [code]="toggleWithTextCode"> </app-code-snippet>
</div>
<div *ngIf="currentView === 'doc'">
  <app-doc-toogle></app-doc-toogle>
</div>
