:host {
  --primary-color: var(--primaryColor, #1a73e8);
  --secondary-color: var(--secondaryColor, #948e8e);
  --focus-color: var(--focusColor, #3aa593);
}
* {
  box-sizing: border-box;
  margin: 5px;
  font-family: "Open Sans", sans-serif;
}
.input {
  width: 100%;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
}
.input__label {
  position: absolute;
  left: 1em;
  top: -0.5em;
  background: #fff;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  color: #000;
  cursor: pointer;
}

.input__input {
  color: #000;
  border-style: none;
  outline: none;
  width: 100%;
  padding: 1.3rem 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  height: 35px;
  font-size: 12px;

  &--invalid {
    border: 1px solid red;
  }
}
.input__input:hover {
  background-position: 100% 0;
}

.input__input:focus {
  border: 1px solid var(--focus-color);
}

.required-asterisk {
  color: red;
  margin-left: 2px;
  margin-right: 0;
}

.input__password {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 4px;
  margin-top: 2px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.4rem;
  color: #585454;
  height: auto;
}

.input__error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.forgot-password {
  font-size: 10px;
  cursor: pointer;
  margin-top: 5px;
}

.input_btn {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_footer {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
