<app-modal>
  <div preview>
    <div class="with-username login">
      <form class="login-form">
        <ip-email
          class="form-group"
          error-message="The username entered is incorrect"
          required
        >
        </ip-email>
        <ip-password
          class="form-group"
          error-message="The password entered is incorrect"
          forgot-password-link="#"
          invalid="true"
        >
        </ip-password>
        <div class="submit-btn">
          <button class="btn" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div code>
    <code>
      <pre>
          <div class="with-username login">
              <form class="login-form">
                <ip-email
                  class="form-group"
                  error-message="The username entered is incorrect"
                  required
                >
                </ip-email>
                <ip-password
                  class="form-group"
                  error-message="The password entered is incorrect"
                  invalid="true"
                  forgot-password-link="#"
                >
                </ip-password>
                <div class="submit-btn">
                  <button class="btn" type="submit">Login</button>
                </div>
              </form>
          </div>
      </pre>
    </code>
  </div>
  <div doc>
    <app-doc-login></app-doc-login>
  </div>
</app-modal>
