<div class="modal-content">
  <app-breadcrumb
    [title]="'Login 2'"
    [breadcrumbItems]="[
      { label: 'Login', link: '/login' },
      { label: 'Login 2' },
    ]"
  >
  </app-breadcrumb>
  <div class="wrapper">
    <div class="wrapper-head">
      <app-view-switcher
        [currentView]="currentView"
        [title]="switcherTitle"
        (viewChange)="switchView($event)"
      >
      </app-view-switcher>
    </div>
    <div
      class="content"
      [ngClass]="{ 'code-background': currentView === 'code' }"
    >
      @if (currentView === 'preview') {
        <div class="preview">
          <div class="with-email login">
            <form class="login-form">
              <div class="title">
                <h1>Log In</h1>
              </div>
              <div class="Username">
                <ip-email
                  input-label="Username"
                  class="form-group"
                  error-message="The username entered is incorrect"
                  required
                >
                </ip-email>
              </div>
              <div class="password">
                <ip-password
                  class="form-group"
                  error-message="The password entered is incorrect"
                  forgot-password-link="#"
                >
                </ip-password>
              </div>

              <div class="submit-btn">
                <button class="btn" type="submit">
                  <label for="">Continue</label>
                  <img src="assets/images/arrow-right.svg" alt="" />
                </button>
              </div>

              <div class="social-media">
                <div class="text">
                  <span>Or sign up using</span>
                </div>
                <div class="logo-list">
                  <div class="twitter">
                    <img src="assets/images/twitter.svg" alt="" />
                  </div>
                  <div class="google">
                    <img src="assets/images/google.svg" alt="" />
                  </div>
                  <div class="facebook">
                    <img src="assets/images/facebook.svg" alt="" />
                  </div>
                </div>
              </div>
              <div class="create-account">
                <span>Don't have an account ? </span>
                <a href="#">Create Account</a>
              </div>
            </form>
          </div>
        </div>
      }
      @if (currentView === 'code') {
        <app-code-snippet [code]="withUsernameCode"></app-code-snippet>
      }
      @if (currentView === 'doc') {
        <app-doc-login></app-doc-login>
      }
    </div>
  </div>
</div>
