@import '../../../../assets/styles/index.scss';

.preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: rem(70) 0;
}
.content {
  background-color: #f4f4f4;
  height: 675px;
  overflow-y: auto;
  border-radius: 0 0 rem(15) rem(15);
}
