@import '../../../assets/styles/index.scss';

.code-container {
  background-color: #1e1e1e;
  color: $lightColor;
  height: 675px;
}

pre {
  padding: rem(10);
  overflow-x: auto;
  margin: 0;
}
.button-list {
  display: flex;
  justify-content: space-between;
  padding: rem(10) rem(5);
  border-bottom: 2px solid white;
  display: flex;
  padding: 30px 50px;
  gap: 50px;
  align-items: center;

  label {
    color: #fff;

    font-family: 'Nunito-bold';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
button {
  color: $lightColor;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
