<div class="preview" *ngIf="currentView === 'preview'">
  <div class="toggle">
    <ip-toggle aria-label="Toggle notifications on or off" checked="true">
    </ip-toggle>

    <ip-toggle
      aria-label="Toggle notifications on or off"
      size="large"
      checked="false"
    >
    </ip-toggle>
  </div>
</div>
<div *ngIf="currentView === 'code'">
  <app-code-snippet [code]="toggleCode"> </app-code-snippet>
</div>
<div *ngIf="currentView === 'doc'">
  <app-doc-toogle></app-doc-toogle>
</div>
