<div class="preview" *ngIf="currentView === 'preview'">
  <div class="toggle">
    <ip-toggle aria-label="Toggle notifications on or off" checked="true">
    </ip-toggle>

    <ip-toggle
      aria-label="Toggle notifications on or off"
      size="large"
      checked="false"
    >
    </ip-toggle>
  </div>
</div>
<div *ngIf="currentView === 'code'">
  <pre>
    <code>
      &lt;div class="toggle"&gt;
        &lt;ip-toggle 
          aria-label="Toggle notifications on or off" 
          checked="true"
        &gt;
        &lt;/ip-toggle&gt;
      
        &lt;ip-toggle
           aria-label="Toggle notifications on or off"
           size="large"
           checked="false"
        &gt;
        &lt;/ip-toggle&gt;
      &lt;/div&gt;
    </code>
  </pre>
</div>
<div *ngIf="currentView === 'doc'">
  <app-doc-toogle></app-doc-toogle>
</div>
