<menu role="navigation" class="sidebar-menu">
  <h2>OVERVIEW</h2>
  <ul class="global-elements">
    <li>
      <a href="/" aria-current="page" aria-label="Go to Introduction">
        Intro
      </a>
    </li>
  </ul>

  <h2>COMPONENTS</h2>
  <ul class="global-elements">
    <li>
      <a href="/tooltip" aria-label=" Go to Tooltip component"> Tooltip </a>
    </li>
    <li>
      <a href="/dropdown" aria-label="Go to Dropdown component"> Dropdown </a>
    </li>
    <li>
      <a href="/toggle" aria-label="Go to Toggle component"> Toggle </a>
    </li>
    <li>
      <a href="/radio-button" aria-label="Go to Radio-button component">
        Radio-button
      </a>
    </li>
    <li>
      <a href="/checkbox" aria-label="Go to Checkbox component"> Checkbox </a>
    </li>
    <li>
      <a href="/login" aria-label="Go to Login component"> Login </a>
    </li>
    <li>
      <a href="/table" aria-label="Go to Table component"> Table </a>
    </li>
    <li>
      <a href="/pagination" aria-label="Go to Pagination component">
        Pagination
      </a>
    </li>
    <li>
      <a href="/tab-panel" aria-label="Go to Tab-panel component">
        Tab-panel
      </a>
    </li>
  </ul>
</menu>
