<aside class="sidebar-menu">
    <!-- GLOBAL ELEMENTS -->
    <h2>
      Global&nbsp;Elements
      <span><img src="assets/icons/down.svg" aria-hidden="true" alt="" /></span>
    </h2>
    <ul class="global-elements">
      <li>
        <a href="/tooltip" >
          <button  aria-label="Tooltip">
              Tooltip
          </button>
        </a>
      </li>
      <li>
        <a href="/dropdown" >
          <button  aria-label="Dropdown">
              Dropdown
          </button>
        </a>
      </li>
      <li>
        <a href="/toggle" >
          <button  aria-label="Toggle">
            Toggle
          </button>
        </a>
      </li>
      <li>
        <a href="/radio-button" >
          <button  aria-label="Radio-button">
            Radio-button
          </button>
        </a>
      </li>
      <li>
        <a href="/checkbox" >
          <button  aria-label="Checkbox">
            Checkbox
          </button>
        </a>
      </li>
    </ul>

  </aside>
