<menu role="navigation" class="sidebar-menu">
  <h2>
    OVERVIEW
  </h2>
  <ul class="global-elements">
    <li>
      <a href="/" aria-current="page" aria-label="Intro">
          Intro
      </a>
    </li>
    </ul>

    <h2>
      COMPONENTS
    </h2>
    <ul class="global-elements">
      <li>
        <a href="/tooltip" aria-label="Tooltip">
              Tooltip
        </a>
      </li>
      <li>
        <a href="/dropdown" aria-label="Dropdown" >
              Dropdown
        </a>
      </li>
      <li>
        <a href="/toggle" aria-label="Toggle" >
            Toggle
        </a>
      </li>
      <li>
        <a href="/" aria-label="Radio-button">
            Radio-button
        </a>
      </li>
      <li>
        <a href="/checkbox"  aria-label="Checkbox" >
            Checkbox
        </a>
      </li>
      <li>
        <a href="/login" aria-label="Login">
            Login
        </a>
      </li>
      <li>
        <a href="/" aria-label="Table">
            Table
        </a>
      </li>
    </ul>

  </menu>
