:host {
  --primary-color: var(--primaryColor, #1a73e8);
  --secondary-color: var(--secondaryColor, #a3a3a3);
  --focus-color: var(--focusColor, #3aa593);
}
* {
  box-sizing: border-box;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
}
.input {
  width: 100%;
  max-width: 20em;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
}
.input__label {
  position: absolute;
  left: 1em;
  top: -0.5em;
  background: #fff;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  color: #000;
  cursor: pointer;
}

.input__input {
  color: #000;
  border-style: none;
  outline: none;
  width: 100%;
  padding: 1.3rem 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  height: 35px;
  font-size: 12px;

  &--invalid {
    border: 1px solid red;
  }
}
.input__input:hover {
  background-position: 100% 0;
}

.input__input:focus {
  border: 1px solid var(--focus-color);
  outline: 3px solid var(--focus-color);
  outline-offset: 2px;
}

.required-asterisk {
  color: red;
  margin-left: 2px;
  margin-right: 0;
}

.input__error {
  color: red;
  font-size: 12px;
  display: flex;
  flex-direction: row-reverse;
}
.input_btn {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
