.drop-zone {
  border: 2px dashed #2072b7;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;

  &.drag-over {
    border-color: #0056b3;
  }
}

.default-input {
  display: none;
}

.file-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;

  svg {
    width: 20px;
    height: 20px;
    fill: #000;
  }

  .uploaded {
    width: 70%;
    display: flex;
    flex-direction: column;
    
    .error-message {
      color: red;
      font-size: 12px;
    }

    .progress-bar {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 5px;

      .dot {
        margin: 0 10px;
        font-size: 30px;
      }

      .progress-bar-fill {
        height: 10px;
        background-color: #2072b7;
        transition: width 0.3s ease;
      }
    }
  }
  

  &:hover {
    background-color: #f1f1f1;
  }



  .download-button {
    width: 38px;
    height: 38px;
    background: none;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.1);
    }

 


    .file-name {
      font-size: 14px;
      color: #333;
      margin-bottom: 5px;
    }


  }

  .icon-button {
    width: 38px;
    height: 38px;
    background: none;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }


  }
}
