<router-outlet></router-outlet>

<header>
    <div class="container">
        <div id="lp-content" class="head">
            <div class="logo-wrapper">
                <a href="#">
                    <img class="logo" src="../assets/logo/ipedis-logo.png" alt="Ipedis - Go to Ipedis Website">
                </a>
            </div>
            <div class="separator"></div>
            <h1>Web Components</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt augue quis odio pharetra auctor. Nunc tempor velit eget quam tincidunt venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
    </div>
</header>
<section id="presentation" class="presentation">
    <aside class="sidebar-menu">
        <!-- GLOBAL ELEMENTS -->
        <h2>
          Global&nbsp;Elements
          <span><img src="assets/icons/down.svg" aria-hidden="true" alt="" /></span>
        </h2>
        <ul class="global-elements">
          <li>
            <button aria-label="Accordeon - 8 components available">
              Accordeon <span class="num">8</span>
            </button>
          </li>

          <li>
            <button aria-label="Sliders (Carousel) - 6 components available" aria-current="true">
              Sliders&nbsp;(Carousel) <span class="num">6</span>
            </button>
          </li>

          <li>
            <button aria-label="Tab Panels - 20 components available">
              Tab&nbsp;Panels <span class="num">20</span>
            </button>
          </li>

          <li>
            <button aria-label="Modals - 25 components available">
              Modals <span class="num">25</span>
            </button>
          </li>

          <li>
            <button aria-label="Cards - 14 components available">
              Cards <span class="num">14</span>
            </button>
          </li>

          <li>
            <button aria-label="Progress Bar / Timeline - 20 components available">
              Progress&nbsp;Bar&nbsp;/ Timeline <span class="num">20</span>
            </button>
          </li>

          <li>
            <button aria-label="Navbar(Menu) - 18 components available">
              Navbar&nbsp;(Menu) <span class="num">18</span>
            </button>
          </li>

          <li>
            <button aria-label="Breadscrumb / Skip Links - 3 components available">
              Breadscrumb&nbsp;/ Skip&nbsp;Links <span class="num">3</span>
            </button>
          </li>

          <li>
            <button aria-label="Language list / Dropdown - 12 components available">
              Language&nbsp;list&nbsp;/ Dropdown <span class="num">12</span>
            </button>
          </li>

          <li>
            <button aria-label="Tooltips - 2 components available">
              Tooltips <span class="num">2</span>
            </button>
          </li>
        </ul>

        <!-- FORMS INPUT -->
        <h2>
          Forms&nbsp;Input
          <span><img src="assets/icons/down.svg" aria-hidden="true" alt="" /></span>
        </h2>
        <ul class="forms-input">
          <li>
            <button aria-label="Checkbox - 8 components available">
              Checkbox <span class="num">8</span>
            </button>
          </li>

          <li>
            <button aria-label="Toggle - 6 components available">
              Toggle <span class="num">6</span>
            </button>
          </li>

          <li>
            <button aria-label="Forms - 20 components available">
              Forms <span class="num">20</span>
            </button>
          </li>

          <li>
            <button aria-label="Dropdown - 25 components available">
              Dropdown <span class="num">25</span>
            </button>
          </li>
        </ul>

        <!-- LANDING PAGE -->
        <h2>
          Landing&nbsp;Page
          <span><img src="assets/icons/down.svg" aria-hidden="true" alt="" /></span>
        </h2>
        <ul class="landing-Page">
          <li>
            <button aria-label="Accordeon - 8 components available">
              Blockquote <span class="num">8</span>
            </button>
          </li>

          <li>
            <button aria-label="Sliders (Carousel) - 6 components available">
              Hover&nbsp;Animation <span class="num">6</span>
            </button>
          </li>
        </ul>
      </aside>
    <div class="container">
        <h2>Présentation</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            malesuada, nunc nec vehicula ultricies, nunc nunc ultricies
            sapien, nec vehicula sapien
        </p>
        <div class="component-list">
            <div class="component-item">
                <h3>Toggle</h3>
                <ip-toggle size="small"></ip-toggle>
                <p>Details of toggle component</p>

                <h3>Tooltip</h3>
                <ip-tooltip
                    tooltip-trigger="Click Me!"
                    tooltip-content="Please enter a description of the tooltip. The length is 3/4 lines maximum. Arrows can be adjusted position."
                    type="click"
                    >
                </ip-tooltip>
                <h3>Dropdown</h3>
                <ip-dropdown
                    dropdown-title="Country"
                    placeholder="Select a country:"
                    items-options='["Mauritius", "France", "Germany", "Zimbabwe","Allemagne", "Angleterre", "Réunion","Canada", "USA", "Japan","China", "Korea", "Nigeria","Algeria", "Cameroun", "Mali"]'
                >
                <h3>Checkbox</h3>
                <ip-checkbox-list
                    legend="Preferences:"
                    options='[
                    {"id": "1", "label": "Option 1"}, 
                    {"id": "2", "label": "Option 2"}, 
                    {"id": "3", "label": "Option 3"}
                    ]'
                >
                </ip-checkbox-list>
                </ip-dropdown>
                <h3>Login</h3>
                <form>
                <ip-email
                    class="form-group"
                    error-message="The email entered is incorrect"
                >
                </ip-email>
                <ip-password
                    class="form-group"
                    error-message="The password entered is incorrect"
                    forgot-password-link="#"
                >
                </ip-password>
                <button class="btn" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>