body {
  font-family: Arial, sans-serif;
}

.main-content {
  background-image: url('../assets/images/Rectangle-1.png');
  background-position-y: -343px;
  background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // height: 88vh;
  // width: 98vw;
}
.container {
  margin: 0 80px;

  display: grid;
  grid-template-columns: 24% 74%;
  gap: 15px;
}
