<section id="documentation">
  <h3 class="under-title">Installation</h3>
  <h4>Step 1</h4>
  <p>
    Install the <code>ip-table</code> component as a dependency in your project:
  </p>
  <pre><code [highlight]="installationScript" language="bash">npm install ip-accordion</code></pre>

  <h4>Step 2</h4>
  <p>Import the module in your script file:</p>
  <pre><code [highlight]="import" language="typescript"></code></pre>

  <h3 class="under-title">Usage</h3>

  <p>To use this component, we must add the properties as attributes.</p>

  <h4>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Attribute</th>
        <th>Necessity</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>columns</code></td>
        <td><code>columns</code></td>
        <td>Required</td>
        <td>
          This is a JSON string representing an array of objects for
          <code>thead</code>
        </td>
        <td><code>string</code></td>
        <td><code>undefined</code></td>
      </tr>
      <tr>
        <td><code>rows</code></td>
        <td><code>rows</code></td>
        <td>Required</td>
        <td>
          This is a JSON string representing an array of objects for
          <code>tbody</code>
        </td>
        <td><code>string</code></td>
        <td><code>undefined</code></td>
      </tr>
    </tbody>
  </table>

  <h4>Columns Property</h4>
  <p>
    The <code>columns</code> property is a JSON string representing an array of
    column definitions. Each column must have a <code>header</code> and a
    <code>type</code>:
  </p>
  <ul>
    <li>
      <strong>header</strong>: A string that represents the name of the column.
      This will be displayed as the column header in the table.
    </li>
    <li>
      <strong>type</strong>: A string that represents the type of data in the
      column. This should be either 'string' or 'number'. This is used to
      determine how to sort the column. 'string' type columns are sorted
      alphabetically, while 'number' type columns are sorted numerically.
    </li>
  </ul>

  <h4>Rows Property</h4>
  <p>
    The <code>rows</code> property is a JSON string representing an array of row
    objects. Each row object should contain key-value pairs where keys
    correspond to the column headers and values represent the cell data.
  </p>
  <div class="code-example">
    <pre><code [highlight]="example" language="html"></code></pre>
  </div>

  <h3 class="under-title">Customization</h3>
  <p>We have a set of predefined variables used to customize the table:</p>
  <ul>
    <li><code>--primary-color</code></li>
    <li><code>--secondary-color</code></li>
    <li><code>--thead-color</code></li>
    <li><code>--hover-color</code></li>
    <li><code>--font-size</code></li>
    <li><code>--font-family</code></li>
  </ul>
  <p>To update the values use the following:</p>
  <div class="code-example">
    <pre><code [highlight]="custom" language="css"></code></pre>
  </div>
</section>
