:host {
  --primary-color: var(--primaryColor, #d6254f);
  --secondary-color: var(--secondaryColor, #333);
  --radio-size: var(--radioSize, 20px);
  --fieldset-border: var(--fieldsetBorder, 2px solid #d6254f);
}

fieldset {
  border: var(--fieldset-border);
  padding: 1em;
  margin: 1em 0;
}

legend {
  font-weight: bold;
}

div[role='radiogroup'] {
  display: flex;
  flex-direction: column;
}

label {
  margin-left: 0.5em;
}

input[type='radio'] {
  appearance: none;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  position: relative;
}

input[type='radio']:checked {
  border-color: var(--primary-color);
  background-color: #ffffff;
}

input[type='radio']:checked::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
}

input[type='radio']:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 4px rgba(214, 37, 79, 0.3);
  border-radius: 50%;
}

div.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

div.disabled input[type='radio'] {
  cursor: not-allowed;
  border-color: #aaa;
}

div.disabled label {
  color: #aaa;
}
