<div class="container">
    <section id="demo">
        <h2 class="under-title">Demo</h2>
            <div class="with-text card">
                <div class="toggle">
                    <ip-toggle
                        active-label="ON"
                        inactive-label="OFF"
                        aria-label="Toggle notifications on or off"
                        size="small"
                        checked="true"
                    >
                    </ip-toggle>

                    <ip-toggle
                        active-label="ON"
                        inactive-label="OFF"
                        aria-label="Toggle notifications on or off"
                        checked="false"
                    >
                    </ip-toggle>
                </div>
                <div class="code">
                    <pre><code>
                        &lt;ip-toggle
                        active-label="ON"
                        inactive-label="OFF"
                        aria-label="Toggle notifications on or off"
                        size="small"
                        checked="true"
                        &gt;
                        &lt;/ip-toggle&gt;

                        &lt;ip-toggle
                        active-label="ON"
                        inactive-label="OFF"
                        aria-label="Toggle notifications on or off"
                        checked="false"
                        &gt;
                        &lt;/ip-toggle&gt;
                    </code></pre>  
                </div>
            </div>
            <div class="without-text card">
                <div class="toggle">
                    <ip-toggle
                        aria-label="Toggle notifications on or off"
                        checked="true"
                    >
                    </ip-toggle>

                    <ip-toggle
                        aria-label="Toggle notifications on or off"
                        size="large"
                        checked="false"
                    >
                    </ip-toggle>
                </div>
                <div class="code">
                    <pre><code>
                        &lt;ip-toggle
                        aria-label="Toggle notifications on or off"
                        checked="true"
                        &gt;
                        &lt;/ip-toggle&gt;

                        &lt;ip-toggle
                        aria-label="Toggle notifications on or off"
                        size="large"
                        checked="false"
                        &gt;
                        &lt;/ip-toggle&gt;
                    </code></pre>  
                </div>
            </div>
            <div class="with-indication card">
                <div class="toggle">
                    <ip-toggle size="small">
                        <label class="switch-label" slot="switch-label"
                          >Activate strong authentication</label
                        >
                        <p class="helper-text" slot="helper-text">This is the helper text.</p>
                      </ip-toggle>
                </div>
                <div class="code">
                    <pre><code>
                        &lt;ip-toggle size="small"&gt;
                        &lt;label class="switch-label" slot="switch-label"&gt;Activate strong authentication&lt;/label&gt;
                        &lt;p class="helper-text" slot="helper-text"&gt;This is the helper text.&lt;/p&gt;
                        &lt;/ip-toggle&gt;
                    </code></pre>
                </div>
            </div>
    </section>
    <section id="documentation">
        <h2 class="under-title">Installation</h2>
        <p>Follow these steps to install and use the <code>ip-toggle</code> component in your project.</p>
        <h3>Step 1</h3>
        <p>Install the <code>ip-toggle</code> component as a dependency in your project:</p>
        <pre><code>npm install ip-toggle</code></pre>

        <h3>Step 2</h3>
        <p>Import the module into your script file:</p>
        <pre><code>import '../node_modules/ip-toggle/dist/ip-toggle/ip-toggle.esm';</code></pre>

        <h2 class="under-title">Usage</h2>
        <p>To use this component, add the properties as attributes.</p>
        <h3>Properties</h3>
        <table>
            <thead>
              <tr>
                <th>Property</th>
                <th>Attribute</th>
                <th>Necessity</th>
                <th>Description</th>
                <th>Type</th>
                <th>Default</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ariaLabel</td>
                <td>aria-label</td>
                <td>Required</td>
                <td>It is the aria-label of content for accessibility.</td>
                <td>string</td>
                <td>undefined</td>
              </tr>
              <tr>
                <td>checked</td>
                <td>checked</td>
                <td>Optional</td>
                <td>It is the initial state of checked.</td>
                <td>boolean</td>
                <td>false</td>
              </tr>
              <tr>
                <td>activeLabel</td>
                <td>active-label</td>
                <td>Optional</td>
                <td>This is the text that will be displayed when the toggle is active.</td>
                <td>string</td>
                <td>undefined</td>
              </tr>
              <tr>
                <td>inactiveLabel</td>
                <td>inactive-label</td>
                <td>Optional</td>
                <td>This is the text that will be displayed when the toggle is inactive.</td>
                <td>string</td>
                <td>undefined</td>
              </tr>
              <tr>
                <td>toggleDisabled</td>
                <td>toggle-disabled</td>
                <td>Optional</td>
                <td>When we need to set the toggle to disabled.</td>
                <td>boolean</td>
                <td>false</td>
              </tr>
              <tr>
                <td>size</td>
                <td>size</td>
                <td>Optional</td>
                <td>We have three predefined sizes: large, medium, small.</td>
                <td>string</td>
                <td>medium</td>
              </tr>
            </tbody>
        </table>
        <h3>Toggle Content</h3>
  <p>We have predefined two slots for the label before the switch and for the explanatory text of the toggle if necessary:</p>
  <ul>
    <li><code>slot="switch-label"</code>: This descriptive text informs the user about the function of the checkbox.</li>
    <li><code>slot="helper-text"</code>: This additional information provides guidance on the usage of the checkbox.</li>
  </ul>
  <pre><code>&lt;ip-toggle aria-label="Toggle notifications on or off"&gt;
  &lt;label slot="switch-label"&gt;Activate strong authentication&lt;/label&gt;
  &lt;p slot="helper-text"&gt;This is the helper text.&lt;/p&gt;
&lt;/ip-toggle&gt;
  </code></pre>

  <h2 class="under-title " >Customization</h2>
  <p>We have a set of predefined variables used to customize the toggle:</p>
  <ul>
    <li><code>--primary-color</code></li>
    <li><code>--secondary-color</code></li>
    <li><code>--font-family</code></li>
    <li><code>--text-color</code></li>
  </ul>
  <p>To update the values, use the following CSS:</p>
  <pre><code>ip-toggle &#123;
  --primary-color: #006342;
  --secondary-color: #000000;
  --font-family: Arial, sans-serif;
  --text-color: #333333;&#125;
</code></pre>

    </section>
</div>
