@import 'highlight.js/styles/vs2015.css';

@font-face {
  font-family: 'Nunito-bold';
  src: url('/assets/styles/fonts/Nunito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('/assets/styles/fonts/Nunito-Regular.woff') format('woff');
}
body {
  margin: 0;
  font-family: 'Nunito-bold';
  //default style for accessibility
  color: #000;
  background-color: white;
}
