@import 'highlight.js/styles/vs2015.css';

@font-face {
  font-family: 'Mulish-regular';
  src: url('/assets/styles/fonts/Mulish-Regular.woff') format('woff');
}
body {
  margin: 0;
  font-family: 'Mulish-regular';
  //default style for accessibility
  color: #000;
  background-color: white;
}
