<div class="modal-content">
  <app-breadcrumb
    [title]="'Pagination 1'"
    [breadcrumbItems]="[
      { label: 'Pagination', link: '/pagination' },
      { label: 'Pagination 1' },
    ]"
  >
  </app-breadcrumb>
  <div class="wrapper">
    <div class="wrapper-head">
      <app-view-switcher
        [currentView]="currentView"
        [title]="switcherTitle"
        (viewChange)="switchView($event)"
      >
      </app-view-switcher>
    </div>
    <div
      class="content"
      [ngClass]="{ 'code-background': currentView === 'code' }"
    >
      <div class="preview" *ngIf="currentView === 'preview'">
        <div class="pagination">
          <ip-pagination
            total-pages="25"
            current-page="5"
            visible-pages="7"
          ></ip-pagination>
        </div>
      </div>
      <div *ngIf="currentView === 'code'">
        <app-code-snippet [code]="codeSnippet"></app-code-snippet>
      </div>
      <div *ngIf="currentView === 'doc'">
        <app-doc-pagination></app-doc-pagination>
      </div>
    </div>
  </div>
</div>
