<div class="modal-content">
  <div class="component-intro">
    <div class="title">
      <p>COMPONENTS</p>
      <h2>Hover tooltip</h2>
    </div>
    <p>
      A tooltip is a brief, informative message that appears when a user hovers
      over or focuses on an element within a graphical user interface. It
      provides explanations or extra context for the item, enhancing usability
      and guidance.
    </p>
  </div>
  <app-accordion title="Preview" [alwaysOpen]="true">
    <div class="preview">
      <ip-tooltip
        tooltip-trigger="Hover Me!"
        tooltip-content="Please enter a description of the tooltip. The length is 3/4 lines maximum. Arrows can be adjusted position."
      >
      </ip-tooltip>
    </div>
  </app-accordion>

  <app-accordion title="Code">
    <app-code-snippet [htmlCode]="hoverCode" [cssCode]="cssTooltip2">
    </app-code-snippet>
  </app-accordion>

  <app-accordion title="Documentation">
    <app-doc-tooltip> </app-doc-tooltip>
  </app-accordion>
</div>
