<div class="container">
  <div class="preview" *ngIf="currentView === 'preview'">
    <div class="tooltip">
      <ip-tooltip
        tooltip-trigger="Hover Me!"
        tooltip-content="Please enter a description of the tooltip. The length is 3/4 lines maximum. Arrows can be adjusted position."
      >
      </ip-tooltip>
    </div>
  </div>
  <div *ngIf="currentView === 'code'">
    <app-code-snippet [code]="hoverCode"> </app-code-snippet>
  </div>
  <div *ngIf="currentView === 'doc'">
    <app-doc-tooltip> </app-doc-tooltip>
  </div>
</div>
