@import '../../../../assets/styles/index.scss';

.table-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 425px;
}
.code-wrapper {
  width: 100%;
}
ip-table {
  --font-family: 'Mulish-regular';
  --primary-color: #b00057;
}
