<div class="container">
  <div class="preview" *ngIf="currentView === 'preview'">
    <div class="tooltip">
      <ip-tooltip
        id="clicked-tooltip"
        tooltip-trigger="Click me !"
        tooltip-content="Please enter a description of the tooltip. The length is 3/4 lines maximum. Arrows can be adjusted position."
        tooltip-btn-close="true"
        tooltip-btn-1="Cancel"
        tooltip-btn-2="Learn More"
        type="click"
      >
      </ip-tooltip>
    </div>
  </div>
  <div *ngIf="currentView === 'code'">
    <app-code-snippet [code]="withButtonCode"> </app-code-snippet>
  </div>
  <div *ngIf="currentView === 'doc'">
    <app-doc-tooltip></app-doc-tooltip>
  </div>
</div>
