<div class="modal-content">
  <app-breadcrumb
    [title]="'Modal 1'"
    [breadcrumbItems]="[
      { label: 'Modal', link: '/modal' },
      { label: 'Modal 1' },
    ]"
  >
  </app-breadcrumb>
  <div class="wrapper">
    <div class="wrapper-head">
      <app-view-switcher
        [currentView]="currentView"
        [title]="switcherTitle"
        (viewChange)="switchView($event)"
      >
      </app-view-switcher>
    </div>
    <div
      class="content"
      [ngClass]="{ 'code-background': currentView === 'code' }"
    >
      @if (currentView === 'preview') {
        <ip-modal button-text="Open Custom Modal">
          <p slot="content" class="modal-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
            accusantium et recusandae adipisci enim aliquam reiciendis earum
            voluptate eos alias, eius magni, corrupti doloremque a consequatur
            unde similique accusamus cum! Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Minus facilis placeat facere, quasi
            explicabo expedita esse eaque recusandae qui dolor, adipisci
            suscipit nobis quisquam illo ipsam veritatis et, labore ut.
          </p>
        </ip-modal>
      }
      @if (currentView === 'code') {
        <app-code-snippet [code]="ModalCodeSnippet"></app-code-snippet>
      }
      @if (currentView === 'doc') {
        <app-doc-modal></app-doc-modal>
      }
    </div>
  </div>
</div>
