@import '../../../../assets/styles/index.scss';
.content {
  background-color: #f4f4f4;
  height: 675px;
  overflow-y: auto;
  border-radius: 0 0 rem(15) rem(15);
  width: 100%;
}

.modal-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 200px;
}
.wrapper-title {
  color: #fff;
  font-family: 'Nunito';
  font-size: rem(16);
  font-style: normal;
  line-height: normal;

  h3 {
    color: #fff;
    font-size: rem(40);
    font-weight: 800;
    margin: rem(15) 0;
  }
  .breadcrumb {
    font-weight: 400;
    ol {
      display: flex;
      gap: rem(10);
      li {
        color: #fff;
        font-size: rem(16);
        font-weight: 400;
        list-style: none;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.modal-content {
  margin: rem(10) 0;
  padding: rem(10);

  .dialog-title {
    h1 {
      font-size: rem(30);
      font-weight: 800;
      color: #2749a3;
      font-family: 'Nunitp';
    }
    p {
      text-align: center;
      margin-top: 10px;
    }
  }
  .dialog-contents {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    input {
      width: 467px;
      padding: 13px;
      border-radius: 5px;
      outline: 1px solid rgba(53, 50, 50, 0.64);
      border: none;
      margin-top: 20px;
      input:focus {
        outline: 2px solid black;
        outline-offset: 3px;
      }
    }
    label {
      margin-right: 90px;
    }
  }
  .dialog-btn {
    background: #2749a3 !important;
    width: 467px;
    border-radius: 8px;
    font-family: 'roboto';
    padding: 15px;
    color: white;
    border: none;
    margin-top: 20px;
  }

  .dialog-btn:focus {
    outline: 2px solid black;
    outline-offset: 2px;
  }
}
