:host {
  display: block;
  --alert-font-size: var(--fontSize, 16px);
  --alert-font-family: var(--fontFamily, 'Mulish-regular Sans');
  --alert-message-color: var(--messageColor, #2e3243);
  --alert-font-title-size: var(--fontTitleSize, 18px);
}

.alert {
  gap: 10px;
  width: 300px;
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 5px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  font-family: var(--alert-font-family);
  font-style: normal;
  line-height: normal;
  color: var(--alert-message-color);
}
.title {
  font-weight: 700;
  padding: 5px;
  font-size: var(--alert-font-title-size);
}
.message {
  width: 95%;
  font-size: var(--alert-font-size);
}
.title-info {
  color: #2072b7;
}

.title-warning {
  color: #c15700;
}

.title-danger {
  color: #d31010;
}

.title-success {
  color: #287d17;
}

.icon {
  margin-right: 0.5em;
  padding: 10px 0 0 10px;
}

.close-button {
  position: absolute;
  top: 1px;
  right: 1px;
  background: transparent;
  border: none;
  color: currentColor;
  font-size: 20px;
  cursor: pointer;
}

.message-content {
  flex: 1;
  padding: 5px;
}
