<div class="container">
    <section id="demo">
        <h2 class="under-title">Demo</h2>
        <div class="simple checkbox">
            <div class="checkbox-wrapper">
                <ip-checkbox
                default-checked="true" id="check me"
                >
                Check me ! 
                </ip-checkbox>
            </div>
            <div class="code">
                <pre><code>
                    &lt;ip-checkbox
                    default-checked="true" id="check me"
                    &gt;
                    Check me !
                    &lt;/ip-checkbox&gt;
                </code></pre>
            </div>
        </div>
        <div class="list checkbox">
            <div class="checkbox-wrapper">
                <ip-checkbox-list
                legend="Select the options below:"
                options='[
              &#123;"id": "agree", "label": "I agree to the terms and conditions.", "defaultChecked": true , "disabled": true&#125;,
              &#123;"id": "remember", "label": "Remember me on this device", "disabled": true&#125;, 
              &#123;"id": "newsletter", "label": "subscribe to our newsletter for updates.","defaultChecked": true&#125;,
              &#123;"id": "send", "label": "Send me promotional offers and discounts."&#125;,
              &#123;"id": "participate", "label": "Participate in our user feddback program."&#125;
              ]'
              >
              </ip-checkbox-list>
            </div>
            <div class="code">
                <pre><code>
                    &lt;ip-checkbox-list
                    legend="Select the options below:"
                options='[
              &#123;"id": "agree", "label": "I agree to the terms and conditions.", "defaultChecked": true , "disabled": true&#125;,
              &#123;"id": "remember", "label": "Remember me on this device", "disabled": true&#125;, 
              &#123;"id": "newsletter", "label": "subscribe to our newsletter for updates.","defaultChecked": true&#125;,
              &#123;"id": "send", "label": "Send me promotional offers and discounts."&#125;,
              &#123;"id": "participate", "label": "Participate in our user feddback program."&#125;
              ]'
                    &gt;
                    &lt;/ip-checkbox-list&gt;
                </code></pre>
            </div>
        </div>
    </section>
    <section id="documentation">
        <h1>Checkbox Documentation</h1>
    <p>This component includes both <code>ip-checkbox</code> and <code>ip-checkbox-list</code>; which one to use depends on your needs:</p>
    <ul>
        <li><strong><code>ip-checkbox</code></strong>: For a simple checkbox</li>
        <li><strong><code>ip-checkbox-list</code></strong>: For a list of checkboxes</li>
    </ul>

    <h2>ip-checkbox</h2>

    <h3>Description</h3>
    <p><code>IpCheckbox</code> is a Stencil.js component that displays a single checkbox.</p>

    <h3>Usage</h3>
    <p>To use this component, you must add the properties as attributes.</p>

    <h4>Component Tag:</h4>
    <p>Use the <code>&lt;ip-checkbox&gt;</code> tag in your JSX/HTML.</p>

    <h4>Properties</h4>
    <table>
        <thead>
            <tr>
                <th>Property</th>
                <th>Attribute</th>
                <th>Required</th>
                <th>Description</th>
                <th>Type</th>
                <th>Default</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>id</code></td>
                <td><code>id</code></td>
                <td>Yes</td>
                <td>The ID of the input for accessibility</td>
                <td><code>string</code></td>
                <td><code>undefined</code></td>
            </tr>
            <tr>
                <td><code>name</code></td>
                <td><code>name</code></td>
                <td>Yes</td>
                <td>The name of the input for accessibility</td>
                <td><code>string</code></td>
                <td><code>undefined</code></td>
            </tr>
            <tr>
                <td><code>defaultChecked</code></td>
                <td><code>default-checked</code></td>
                <td>No</td>
                <td>Sets the checkbox to checked by default</td>
                <td><code>boolean</code></td>
                <td><code>false</code></td>
            </tr>
            <tr>
                <td><code>disabled</code></td>
                <td><code>disabled</code></td>
                <td>No</td>
                <td>Disables the checkbox</td>
                <td><code>boolean</code></td>
                <td><code>false</code></td>
            </tr>
        </tbody>
    </table>

    <h4>Example:</h4>
    <div class="example">
        <pre><code>&lt;ip-checkbox default-checked="true" disabled="true" id="Male"&gt;&lt;/ip-checkbox&gt;</code></pre>
    </div>

    <h4>Content</h4>
    <p>There is a predefined label slot for the label before the checkbox, which will be the content inside the tag.</p>

    <h4>Example:</h4>
    <div class="example">
        <pre><code>&lt;ip-checkbox default-checked="true" disabled="true" id="checked"&gt; Checked ! &lt;/ip-checkbox&gt;</code></pre>
    </div>

    <h4>Customization:</h4>
    <p>We have a set of predefined variables used for customizing the checkbox:</p>
    <ul>
        <li><code>--primary-color</code></li>
        <li><code>--secondary-color</code></li>
        <li><code>--font-size</code></li>
        <li><code>--checkbox-size</code></li>
    </ul>
    <p>To update the values, use the following CSS:</p>
    <div class="example">
        <pre><code>ip-checkbox &#123;
  --primary-color: #006342;
  --secondary-color: #000000;
&#125;</code></pre>
    </div>

    <h2>Listening to Events</h2>
    <p>To listen to events emitted by the <code>ip-checkbox</code> component, open your browser's console. Event details will be displayed in the console when the checkbox state changes.</p>

    <h4>Example JavaScript Code:</h4>
    <div class="example">
        <pre><code>const checkbox = document.querySelector('ip-checkbox');

checkbox.addEventListener('change', event => &#123;
  const isChecked = event.detail.checked;
  console.log(isChecked);
&#125;);</code></pre>
    </div>
        <h1>ip-checkbox-list</h1>

    <h2>Usage</h2>
    <p>To use this component, you need to add the properties as attributes.</p>

    <h3>Component Tag:</h3>
    <p>Use the <code>&lt;ip-checkbox-list&gt;</code> tag in your JSX/HTML.</p>

    <h3>Properties</h3>
    <table>
        <thead>
            <tr>
                <th>Property</th>
                <th>Attribute</th>
                <th>Required</th>
                <th>Description</th>
                <th>Type</th>
                <th>Default</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code>options</code></td>
                <td><code>options</code></td>
                <td>Yes</td>
                <td>An array of objects used to pass options as checkboxes</td>
                <td><code>string</code></td>
                <td><code>undefined</code></td>
            </tr>
            <tr>
                <td><code>id</code></td>
                <td><code>id</code></td>
                <td>Yes</td>
                <td>ID of the input for accessibility</td>
                <td><code>string</code></td>
                <td><code>undefined</code></td>
            </tr>
            <tr>
                <td><code>defaultChecked</code></td>
                <td><code>default-checked</code></td>
                <td>No</td>
                <td>When you need to set the checkbox to checked by default</td>
                <td><code>boolean</code></td>
                <td><code>false</code></td>
            </tr>
            <tr>
                <td><code>disabled</code></td>
                <td><code>disabled</code></td>
                <td>No</td>
                <td>When you need to set the checkbox to disabled</td>
                <td><code>boolean</code></td>
                <td><code>false</code></td>
            </tr>
            <tr>
                <td><code>legend</code></td>
                <td><code>legend</code></td>
                <td>No</td>
                <td>The legend for the list of checkboxes</td>
                <td><code>string</code></td>
                <td><code>undefined</code></td>
            </tr>
        </tbody>
    </table>

    <h3>Example:</h3>
    <pre><code>&lt;ip-checkbox-list options='[&#123;"id": "option1", "label": "Option 1"&#125;, &#123;"id": "option2", "label": "Option 2"&#125;]'&gt;&lt;/ip-checkbox-list&gt;</code></pre>

    <h2>Customization</h2>
    <p>We have a set of predefined variables used to customize the checkbox:</p>
    <ul>
        <li><code>--primary-color</code></li>
        <li><code>--secondary-color</code></li>
        <li><code>--font-size</code></li>
        <li><code>--checkbox-size</code></li>
    </ul>
    <p>To update the values, use the following CSS:</p>
    <pre><code>ip-checkbox-list &#123;
  --primary-color: #006342;
  --secondary-color: #000000;
&#125;</code></pre>

    <h2>Listening to Events</h2>
    <p>To listen to events emitted by the <code>ip-checkbox</code> and <code>ip-checkbox-list</code> components, open your browser's console. Event details will be displayed in the console when checkboxes are modified.</p>

    <h3>Example JavaScript Code:</h3>
    <pre><code>const checkboxList = document.querySelector('ip-checkbox-list');
const checkbox = document.querySelector('ip-checkbox');

checkboxList.addEventListener('change', event => &#123;
  console.log(event.detail);
&#125;);

checkbox.addEventListener('change', event => &#123;
  const isChecked = event.detail.checked;
  console.log(isChecked);
&#125;);</code></pre>
    </section>
</div>