@import '../../../assets/styles/index.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondaryColor;
}
.under-title {
  text-align: center;
  color: $secondaryColor;
  margin-top: rem(15);
}
pre {
  background-color: $darkColor;
  color: $lightColor;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  margin: 0;
}

#demo {
  .checkbox {
    border: 1px solid $darkColor;
    margin-top: rem(15);
    border-radius: rem(6);
  }
  .checkbox-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: rem(50) 0;
  }
}

.container {
  display: flex;
  justify-content: space-around;
}
